@import "./variables.less";

@navHeight: 30px;
@headerHeight: 100px;
@detailsHeight: 58px;

/* ----------------------------------------- */
/*  All Mythras Apps                           */
/* ----------------------------------------- */

.mythras {
  .window-content {
    background: @sheetBackground;
    font-size: 13px;
    color: @colorDark;
  }

  /* ----------------------------------------- */
  /*  Element Styles                           */
  /* ----------------------------------------- */

  // Item Sheet form fields
  input[type="text"], select {
    height: calc(100% - 2px);
    border: 1px solid @colorTan;
    background: rgba(0, 0, 0, 0.05);
    color: @colorDark;
  }

  // Hovered Fields
  input[type="text"] {
    &:hover,
    &:focus {
      border: 1px solid #111;
      box-shadow: 0 0 8px red;
    }
  }

  .checkbox {
    position: absolute;
    opacity: 0;
    height: 25px;
    width: 25px;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
  }

  .checkbox + label:before {
    font-family: "Font Awesome 5 Free";
    display:inline-block;
    height: 25px;
    width: 25px;
    font-weight: 400;
    content:"\f111";
  }

  .checkbox:checked + label:before {
    font-family: "Font Awesome 5 Free";
    display:inline-block;
    height: 25px;
    width: 25px;
    font-weight: 900;
    content: "\f00c";
  }

  form .form-group .form-fields > .checkbox + label {
    flex: 0 0 20px;
  }

  // Disabled Fields
  input:disabled,
  select:disabled,
  textarea:disabled {
    color: @colorOlive;
    &:hover,
    &:focus {
      box-shadow: none !important;
      border: 1px solid transparent !important;
      outline: none !important;
    }
  }

  // Buttons
  button {
    background: rgba(0, 0, 0, 0.10);
    border: @borderGroove;
  }

  // Checkbox Labels
  label.checkbox {
    flex: auto;
    margin: 0;
    height: 22px;
    line-height: 22px;
    font-size: 11px;
    text-align: right;
    input[type="checkbox"] {
      margin: 0 5px 0;
      position: relative;
      top: 5px;
    }
  }

  /* Form Groups */
  .form-group {
    label {
      flex: 2;
      color: @colorOlive;
      font-weight: bold;
    }
    .form-fields {
      .flexrow();
      > * {
        margin: 0 3px 0 0;
        &:last-child { margin-right: 0; }
      }
    }
  }

  // Stacked Groups
  .form-group.stacked {
    label {
      flex: 0 0 100%;
      margin: 0;
    }
    label.checkbox {
      flex: auto;
      text-align: left;
    }
  }

  // Form Headers
  .form-header {
    margin: 0 0 0.25em 0;
    padding: 0 2px;
    .nodesto();
    font-size: 24px;
    border-top: @borderGroove;
    border-bottom: @borderGroove;
  }

  /* Tags */
  .tag {
    display: inline-block;
    margin: 0 2px 0 0;
    padding: 0 3px;
    font-size: 10px;
    line-height: 16px;
    border: 1px solid #999;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.05);
  }
}


/* ----------------------------------------- */
/*  Entity Sheets Specifically               */
/* ----------------------------------------- */

.mythras.sheet {
  .window-content {
    overflow-y: hidden;
    padding: 5px;
    background: @sheetBackground;
    font-size: 13px;
    color: @colorDark;

    form {
      height: 100%;
      overflow: hidden;
    }

    .tab {
      height: 100%;
      overflow-y: auto;
      align-content: flex-start;
    }
  }

  /* ----------------------------------------- */
  /*  Element Styles                           */
  /* ----------------------------------------- */

  // Input Fields
  input[type="text"] {
    background: none;
    border: 1px solid transparent;
    &:hover,
    &:focus {
      border: 1px solid #111;
    }
  }

  // Select Fields
  select {
    flex: 1;
    font-size: 12px;
    height: 22px;
    background: transparent;
  }

  // Rollable Links
  .editable .rollable:hover {
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }

  // Separators
  span.sep {
    flex: none;
    margin: 0 1px;
    display: inline;
    position: relative;
    color: @colorTan;
    font-weight: normal;
  }

  /* ----------------------------------------- */
  /*  TinyMCE                                  */
  /* ----------------------------------------- */

  .editor {
    height: 100%;
    .tox-toolbar-overlord,
    .tox-toolbar__primary {
      background: none;
    }
  }

  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */

  .sheet-header {
    flex: 0 0 @headerHeight;
    border-bottom: @borderGroove;
    .nodesto();

    /* Character Name */
    h1 {
      flex: 1;
      border-bottom: none;
      height: 60px;
      margin: 0;
      padding: 5px;

      input {
        display: block;
        height: 50px;
        font-size: 32px;
        margin: 0;
      }
    }

    /* Profile Image */
    img.profile {
      flex: 0 0 @headerHeight;
      max-width: @headerHeight;
      height: @headerHeight;
      object-fit: cover;
      border: none;
      border-right: @borderGroove;
    }

    /* Header Summary Details */
    .header-details {
      padding-bottom: 6px;
    }

    .summary {
      flex: 0 0 100%;
      height: @detailsHeight;
      margin: 0;
      padding: 0;
      list-style: none;
      border-top: @borderGroove;
      border-bottom: none;

      li {
        height: calc(100% - 6px);
        float: left;
        margin: 2px 0;
        padding: 0;
        border-right: @borderGroove;
        line-height: 34px;
        color: @colorOlive;

        &:last-child {
          border-right: none;
        }
      }
    }

    .characteristics, .attributes {
      flex: 0 0 100%;
      flex-direction: column;
      height: @detailsHeight;
      margin: 0;
      padding: 0;
      border-bottom: none;

      ul {
        display: flex;
        margin: 12px 0 0 0;
        padding: 0;
        list-style: none;
        font-size: 17px;

        li {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 2px 0;
          padding: 0;
          border-right: @borderGroove;
          text-align: center;
          color: @colorOlive;

          label {
            border-bottom: 1px solid #c9c7b8;
          }

          input {
            height: auto;
          }

          &:last-child {
            border-right: none;
          }
        }
      }

      .title{
        display: flex;
        width: 100%;
        margin-bottom: -30px;

        h2 {
          margin-top: -4px;
          border-bottom: none;
          font-size: 16px;
          letter-spacing: 2px;
          color: #9a0a0a;
        }

        .separator {
          flex-grow: 1;
          margin: 6px 5px 0 4px;
          border-top: @borderGroove;
        }
      }
    }
  }

  /* ----------------------------------------- */
  /*  Sheet Navigation                         */
  /* ----------------------------------------- */

  .sheet-navigation {
    flex: 0 0 @navHeight;
    margin-bottom: 5px;
    .nodesto();

    .item {
      height: 30px;
      line-height: 32px;
      margin: 0 6px;
      border-bottom: 3px solid @colorBeige;

      &.active {
        border-bottom: 3px solid @colorCrimson;
      }
    }
  }

  /* ----------------------------------------- */
  /*  Sheet Body                               */
  /* ----------------------------------------- */

  .sheet-body {
    flex: 1;
    overflow: hidden;
  }

  /* ----------------------------------------- */
  /*  List Filters                             */
  /* ----------------------------------------- */

  .filter-list {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 16px;
    max-width: 70%;

    .filter-icon {
      flex: none;
      font-size: 14px;
      color: @colorTan;
    }

    .filter-item {
      text-align: center;
      font-size: 12px;
      margin: 0 6px 0 0;
      border-bottom: 3px solid @colorBeige;
      white-space: nowrap;

      &:last-child {
        margin: 0;
      }

      &:hover {
        text-shadow: 0 0 4px red;
        border-bottom: 3px solid @colorTan;
      }

      &.active {
        border-bottom: 3px solid @colorCrimson;
      }
    }
  }

  /* ----------------------------------------- */
  /*  Trait Lists                              */
  /* ----------------------------------------- */

  .traits {
    margin: 5px 0 0;

    .trait-selector {
      flex: 0 0 16px;
      padding: 2px 0;
      color: #999;
      font-size: 10px;
    }

    .traits-list {
      flex: 0 0 100%;
      line-height: 20px;
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }
}


/* ----------------------------------------- */
/* Trait Selector
/* ----------------------------------------- */

#trait-selector {
  .trait-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  input[type="text"] {
    height: 24px;
    margin: 2px;
  }
}