@import "./variables.less";

/* ----------------------------------------- */
/*  Basic Structure                          */
/* ----------------------------------------- */
.mythras.sheet.actor.character {
  min-width : 830px;
  min-height: 780px;

  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */

  .sheet-header {

    // Character Profile image (larger)
    img.profile {
      flex     : 0 0 160px;
      max-width: 160px;
      height   : 160px;
    }

    // Character Info
    .char-info-container {
      flex: 1.5;
      .char-info {
        display: inline-flex;
        align-items: center;
        font-size: 18px;
        color: #4b4a44;

        input {
          color: #4b4a44;
          text-align: left;
        }

        &.age input {
          width: 24px;
        }

        &.height {
          flex-grow: 0;

          input {
            width: 30px;
            text-align: right;
          }
        }

        &.width{
          input:nth-child(1){
            width: 40px;
            text-align: right;
          }
          select {
            width: 70px;
          }
        }

        input::placeholder {
          color: #4b4a44cc;
        }
      }
    }

    // Experience Tracking
    .experience {
      flex         : 0 0 32px;
      margin-bottom: -5px;
      align-items  : center;
      font-size    : 18px;

      span.max {
        color      : @colorTan;
        flex       : none;
        margin-left: 3px;
      }
    }

    .xpbar {
      flex         : 0 0 8px;
      width        : 100%;
      margin-bottom: 5px;
      background   : @colorTan;
      border       : 1px solid #000;
      border-radius: 3px;

      .bar {
        height       : 4px;
        margin       : 1px;
        display      : block;
        background   : #afebff;
        border       : 1px solid #000;
        border-radius: 2px;
      }
    }

    // Header Attributes
    .attributes {
      a.rest {
        border       : 1px solid @colorBeige;
        border-radius: 2px;
        background   : rgba(0, 0, 0, 0.05);
        padding      : 0 3px;
        margin       : 0 3px;
      }

      .hit-dice {
        font-size: 24px;
      }

      .initiative .attribute-footer input {
        width: 32px;
      }
    }

    .summary .proficiency {
      text-align   : right;
      padding-right: 5px;
    }
  }

  /* ----------------------------------------- */
  /*  Sheet Body                               */
  /* ----------------------------------------- */

  // Custom Resources
  .resource .attribute-value {
    input {
      flex: 0 0 25%;
    }

    label.recharge {
      height    : 32px;
      position  : relative;
      font-size : 13px;
      text-align: center;
      color     : @colorOlive;

      input[type="checkbox"] {
        height: 14px;
        width : 14px;
        margin: 0;
        top   : -6px;
      }
    }
  }

  ul.skills-list {
    flex: 0 0 212px;

    li.skill {
      padding: 3px;

      h4 {
        flex     : 1px;
        margin   : 0;
        font-size: 13px;
      }
    }
  }

  .item-detail.player-class {
    flex         : 0 0 180px;
    text-align   : right;
    padding-right: 10px;
  }

  /* ----------------------------------------- */
  /*  Inventory                                */
  /* ----------------------------------------- */

  /* Encumbrance Bar */
  .encumbrance {
    flex         : 0 0 12px;
    background   : @colorTan;
    margin       : 1px 15px 0 1px;
    border       : 1px solid @colorDark;
    border-radius: 3px;
    position     : relative;

    .encumbrance-bar {
      position     : absolute;
      top          : 1px;
      left         : 1px;
      background   : #6c8aa5;
      height       : 8px;
      border       : 1px solid #cde4ff;
      border-radius: 2px;
    }

    .encumbrance-label {
      height     : 10px;
      padding    : 0 5px;
      position   : absolute;
      top        : 0;
      right      : 0;
      font-size  : 13px;
      line-height: 12px;
      text-align : right;
      color      : #EEE;
      text-shadow: 0 0 5px #000;
    }

    .encumbrance-breakpoint {
      display : block;
      position: absolute;

      &.encumbrance-33 {
        left: 33%
      }

      &.encumbrance-66 {
        left: 66%
      }
    }

    .arrow-up {
      bottom       : 0;
      width        : 0;
      height       : 0;
      border-left  : 4px solid transparent;
      border-right : 4px solid transparent;
      border-bottom: 4px solid #666;
    }

    .arrow-down {
      top         : 0;
      width       : 0;
      height      : 0;
      border-left : 4px solid transparent;
      border-right: 4px solid transparent;
      border-top  : 4px solid #666;
    }

    &.encumbered {
      .arrow-up {
        border-bottom: 4px solid #000;
      }

      .arrow-down {
        border-top: 4px solid #000;
      }
    }
  }

  /* ----------------------------------------- */
  /*  Item Controls                            */
  /* ----------------------------------------- */

  .inventory,
  .spellbook {
    .item-controls {
      flex: 0 0 68px;

      .item-toggle {
        color: @colorBeige;

        &.active {
          color: @colorOlive;
        }

        &.fixed {
          color: @colorCrimson;

          &:hover {
            text-shadow: none;
          }
        }
      }
    }
  }
}

.health-armor {
  @top-pos: 0px;
  @left-pos: 0px;

  display        : flex;
  justify-content: center;

  .biped-body {
    position: absolute;
    background: url("ui/human-body.png") no-repeat center center;
    background-size: 240px;
    width: 560px;
    height: 560px;
  }

  .item-display {
    position: absolute;
    border: 2px groove #eeede0;
    background-color: #eeede0d9;

    &.head {
      width: 80px;
      height: 95px;
      left: 240px + @left-pos;
      top: 30px + @top-pos;
    }

    &.neck {
      width: 70px;
      height: 70px;
      left: 165px + @left-pos;
      top: 55px + @top-pos;
    }

    &.right-wrist {
      width: 50px;
      height: 50px;
      left: 160px + @left-pos;
      top: 240px + @top-pos;
    }

    &.left-wrist {
      width: 50px;
      height: 50px;
      left: 350px + @left-pos;
      top: 240px + @top-pos;
    }

    &.right-hand {
      width: 50px;
      height: 50px;
      left: 155px + @left-pos;
      top: 295px + @top-pos;
    }

    &.left-hand {
      width: 50px;
      height: 50px;
      left: 355px + @left-pos;
      top: 295px + @top-pos;
    }

    &.right-hand-hold {
      width: 100px;
      height: 140px;
      left: 128px + @left-pos;
      top: 355px + @top-pos;
    }

    &.left-hand-hold {
      width: 100px;
      height: 140px;
      left: 332px + @left-pos;
      top: 355px + @top-pos;
    }

    &.chest {
      width: 130px;
      height: 130px;
      left: 215px + @left-pos;
      top: 130px + @top-pos;
    }

    &.abdomen {
      width: 80px;
      height: 50px;
      left: 240px + @left-pos;
      top: 265px + @top-pos;
    }

    &.legs {
      width: 90px;
      height: 120px;
      left: 235px + @left-pos;
      top: 320px + @top-pos;
    }

    &.feet {
      width: 80px;
      height: 80px;
      left: 240px + @left-pos;
      top: 445px + @top-pos;
    }
  }

  .body-part {
    position: absolute;
    border: 2px groove #eeede0;
    display: flex;
    flex-direction: column;
    width: 140px;
    height: 95px;
    line-height: 17px;

    input {
      width: 25px;
      height: 20px;
      font-family: Nodesto, Signika, "Palatino Linotype", serif;
      font-size: 18px;
      text-align: center;
    }

    &.head {
      left: 325px + @left-pos;
      top: 30px + @top-pos;
    }
    
    &.right-arm {
      left: 70px + @left-pos;
      top: 135px + @top-pos;
    }

    &.left-arm {
      left: 350px + @left-pos;
      top: 135px + @top-pos;
    }

    &.chest {
      left: 10px + @left-pos;
      top: 245px + @top-pos;
    }

    &.abdomen {
      left: 410px + @left-pos;
      top: 245px + @top-pos;
    }

    &.right-leg {
      left: -19px + @left-pos;
      top: 355px + @top-pos;
    }

    &.left-leg {
      left: 439px + @left-pos;
      top: 355px + @top-pos;
    }

    .body-part-name {
      padding: 0;
      margin: 4px 8px 2px;
      font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
      font-size: 20px;
      font-weight: normal;
      text-align: center;
      color: #4b4a44;
      border-bottom: 1px solid #c9c7b8;
    }

    .entry {
      margin: 0px 8px 0px;
      font-size: 13px;

      &.hit-points, &.armour2-points {
        background: rgba(0, 0, 0, 0.05);
      }

      label {
       vertical-align: middle;
      }
    }
  }
}