@import "variables.less";

/* ----------------------------------------- */
/*  Chat Cards
/* ----------------------------------------- */

.mythras.chat-card {
  font-style: normal;
  font-size : 12px;

  .card-header {
    padding      : 3px 0;
    border-top   : 2px groove #FFF;
    border-bottom: 2px groove #FFF;

    img {
      flex        : 0 0 36px;
      margin-right: 5px;
    }

    h3 {
      flex       : 1;
      margin     : 0;
      line-height: 36px;
      .nodesto();
      color: @colorOlive;

      &:hover {
        color      : #111;
        text-shadow: 0 0 10px red;
      }
    }
  }

  .card-content {
    margin: 5px 0;

    h3 {
      font-size  : 12px;
      margin     : 0;
      font-weight: bold;
    }

    >* {
      -webkit-user-select: text;
      -moz-user-select   : text;
      -ms-user-select    : text;
      user-select        : text;
    }
  }

  .card-buttons {
    margin: 5px 0;

    span {
      display    : block;
      line-height: 28px;
      text-align : center;
      border     : 1px solid @borderLight;
    }

    button {
      font-size  : 12px;
      height     : 24px;
      line-height: 20px;
      margin     : 2px 0;
    }
  }

  .card-footer {
    padding   : 3px 0 0;
    border-top: 2px groove #FFF;

    span {
      border-right: 2px groove #FFF;
      padding     : 0 5px 0 0;
      font-size   : 10px;

      &:last-child {
        border-right : none;
        padding-right: 0;
      }
    }
  }
}

.dice-roll .dice-total {
  &.success {
    color     : inherit;
    background: #c7d0c0;
    border    : 1px solid #006c00;
  }

  &.failure {
    color     : inherit;
    background: #ffdddd;
    border    : 1px solid #6e0000;
  }

  &.critical {
    color: green;
  }

  &.fumble {
    color: red;
  }
}

.roll-result {
  &.label{
    margin-left: 6px;
    font-family : Signika, serif;
    font-size   : 16px;
    line-height: 28px;
  }
  &.value{
    float: right;
    margin-right: 16px;
    font-family: Nodesto, Signika, "Palatino Linotype", serif;
    font-size  : 26px;
  }
}

ul.difficulty-grade-table,
ul.difficulty-roll-table {
  padding: 0px;

  li.difficulty {
    height        : 24px;
    vertical-align: middle;
    line-height   : 24px;
    border        : 2px groove #eeede0;

    .label {
      padding-left: 10px;
      font-family : Signika, serif;
      font-size   : 14px;
      text-align  : center;

      &.difficulty {
        text-align: left;
      }
    }

    .key {
      padding-left: 10px;
      font-family : Signika, serif;
      font-size   : 14px;
    }

    .value {
      text-align : center;
      font-family: Nodesto, Signika, "Palatino Linotype", serif;
      font-size  : 18px;
    }
  }

  li.difficulty.fumble {
    margin-bottom: 8px;
    background   : #420d737a;
    color        : white;
    font-size    : 18px;
  }

  li.difficulty.very-easy {
    background: #5ef12226;
  }

  li.difficulty.easy {
    background: #6dceff33;
  }

  li.difficulty.standard {
    background: #ffffff7d;
  }

  li.difficulty.hard {
    background: #fff70021;
  }

  li.difficulty.formidable {
    background: #ff8d0036;
  }

  li.difficulty.herculean {
    background: #ff000038;
  }

  li.difficulty.critical {
    margin    : 8px 0 5px 0;
    background: #0d35006e;
    color     : white;
    font-size : 18px;
  }
}

ul.difficulty-grade-table {
  li.difficulty {
    &:not(:last-child) {
      border-bottom: none;
    }
  }
}