/* Deprecated vars */
/* ----------------------------------------- */
/*  Fonts                                    */
/* ----------------------------------------- */
@font-face {
  font-family: "Nodesto";
  src: url("fonts/NodestoCapsCondensed.otf");
}
.nodesto {
  font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
  font-size: 24px;
}
/* ----------------------------------------- */
/*  Sheet Styles                             */
/* ----------------------------------------- */
/* ----------------------------------------- */
/*  Flexbox                                  */
/* ----------------------------------------- */
.flexrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.flexrow > * {
  flex: 1;
}
.flexrow .flex1 {
  flex: 1;
}
.flexrow .flex2 {
  flex: 2;
}
.flexrow .flex3 {
  flex: 3;
}
.flexrow .flex4 {
  flex: 4;
}
.flexcol {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.flexcol > * {
  flex: 1;
}
.flexcol .flex1 {
  flex: 1;
}
.flexcol .flex2 {
  flex: 2;
}
.flexcol .flex3 {
  flex: 3;
}
.flexcol .flex4 {
  flex: 4;
}
/* ----------------------------------------- */
/*  All Mythras Apps                           */
/* ----------------------------------------- */
.mythras {
  /* ----------------------------------------- */
  /*  Element Styles                           */
  /* ----------------------------------------- */
  /* Form Groups */
  /* Tags */
}
.mythras .window-content {
  background: url("ui/parchment.jpg") repeat;
  font-size: 13px;
  color: #191813;
}
.mythras input[type="text"],
.mythras select {
  height: calc(100% - 2px);
  border: 1px solid #7a7971;
  background: rgba(0, 0, 0, 0.05);
  color: #191813;
}
.mythras input[type="text"]:hover,
.mythras input[type="text"]:focus {
  border: 1px solid #111;
  box-shadow: 0 0 8px red;
}
.mythras .checkbox {
  position: absolute;
  opacity: 0;
  height: 25px;
  width: 25px;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.mythras .checkbox + label:before {
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  height: 25px;
  width: 25px;
  font-weight: 400;
  content: "\f111";
}
.mythras .checkbox:checked + label:before {
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  height: 25px;
  width: 25px;
  font-weight: 900;
  content: "\f00c";
}
.mythras form .form-group .form-fields > .checkbox + label {
  flex: 0 0 20px;
}
.mythras input:disabled,
.mythras select:disabled,
.mythras textarea:disabled {
  color: #4b4a44;
}
.mythras input:disabled:hover,
.mythras select:disabled:hover,
.mythras textarea:disabled:hover,
.mythras input:disabled:focus,
.mythras select:disabled:focus,
.mythras textarea:disabled:focus {
  box-shadow: none !important;
  border: 1px solid transparent !important;
  outline: none !important;
}
.mythras button {
  background: rgba(0, 0, 0, 0.1);
  border: 2px groove #eeede0;
}
.mythras label.checkbox {
  flex: auto;
  margin: 0;
  height: 22px;
  line-height: 22px;
  font-size: 11px;
  text-align: right;
}
.mythras label.checkbox input[type="checkbox"] {
  margin: 0 5px 0;
  position: relative;
  top: 5px;
}
.mythras .form-group label {
  flex: 2;
  color: #4b4a44;
  font-weight: bold;
}
.mythras .form-group .form-fields {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.mythras .form-group .form-fields > * {
  flex: 1;
}
.mythras .form-group .form-fields .flex1 {
  flex: 1;
}
.mythras .form-group .form-fields .flex2 {
  flex: 2;
}
.mythras .form-group .form-fields .flex3 {
  flex: 3;
}
.mythras .form-group .form-fields .flex4 {
  flex: 4;
}
.mythras .form-group .form-fields > * {
  margin: 0 3px 0 0;
}
.mythras .form-group .form-fields > *:last-child {
  margin-right: 0;
}
.mythras .form-group.stacked label {
  flex: 0 0 100%;
  margin: 0;
}
.mythras .form-group.stacked label.checkbox {
  flex: auto;
  text-align: left;
}
.mythras .form-header {
  margin: 0 0 0.25em 0;
  padding: 0 2px;
  font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
  font-size: 24px;
  border-top: 2px groove #eeede0;
  border-bottom: 2px groove #eeede0;
}
.mythras .tag {
  display: inline-block;
  margin: 0 2px 0 0;
  padding: 0 3px;
  font-size: 10px;
  line-height: 16px;
  border: 1px solid #999;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
}
/* ----------------------------------------- */
/*  Entity Sheets Specifically               */
/* ----------------------------------------- */
.mythras.sheet {
  /* ----------------------------------------- */
  /*  Element Styles                           */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  TinyMCE                                  */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet Navigation                         */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet Body                               */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  List Filters                             */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Trait Lists                              */
  /* ----------------------------------------- */
}
.mythras.sheet .window-content {
  overflow-y: hidden;
  padding: 5px;
  background: url("ui/parchment.jpg") repeat;
  font-size: 13px;
  color: #191813;
}
.mythras.sheet .window-content form {
  height: 100%;
  overflow: hidden;
}
.mythras.sheet .window-content .tab {
  height: 100%;
  overflow-y: auto;
  align-content: flex-start;
}
.mythras.sheet input[type="text"] {
  background: none;
  border: 1px solid transparent;
}
.mythras.sheet input[type="text"]:hover,
.mythras.sheet input[type="text"]:focus {
  border: 1px solid #111;
}
.mythras.sheet select {
  flex: 1;
  font-size: 12px;
  height: 22px;
  background: transparent;
}
.mythras.sheet .editable .rollable:hover {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}
.mythras.sheet span.sep {
  flex: none;
  margin: 0 1px;
  display: inline;
  position: relative;
  color: #7a7971;
  font-weight: normal;
}
.mythras.sheet .editor {
  height: 100%;
}
.mythras.sheet .editor .tox-toolbar-overlord,
.mythras.sheet .editor .tox-toolbar__primary {
  background: none;
}
.mythras.sheet .sheet-header {
  flex: 0 0 100px;
  border-bottom: 2px groove #eeede0;
  font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
  font-size: 24px;
  /* Character Name */
  /* Profile Image */
  /* Header Summary Details */
}
.mythras.sheet .sheet-header h1 {
  flex: 1;
  border-bottom: none;
  height: 60px;
  margin: 0;
  padding: 5px;
}
.mythras.sheet .sheet-header h1 input {
  display: block;
  height: 50px;
  font-size: 32px;
  margin: 0;
}
.mythras.sheet .sheet-header img.profile {
  flex: 0 0 100px;
  max-width: 100px;
  height: 100px;
  object-fit: cover;
  border: none;
  border-right: 2px groove #eeede0;
}
.mythras.sheet .sheet-header .header-details {
  padding-bottom: 6px;
}
.mythras.sheet .sheet-header .summary {
  flex: 0 0 100%;
  height: 58px;
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 2px groove #eeede0;
  border-bottom: none;
}
.mythras.sheet .sheet-header .summary li {
  height: calc(100% - 6px);
  float: left;
  margin: 2px 0;
  padding: 0;
  border-right: 2px groove #eeede0;
  line-height: 34px;
  color: #4b4a44;
}
.mythras.sheet .sheet-header .summary li:last-child {
  border-right: none;
}
.mythras.sheet .sheet-header .characteristics,
.mythras.sheet .sheet-header .attributes {
  flex: 0 0 100%;
  flex-direction: column;
  height: 58px;
  margin: 0;
  padding: 0;
  border-bottom: none;
}
.mythras.sheet .sheet-header .characteristics ul,
.mythras.sheet .sheet-header .attributes ul {
  display: flex;
  margin: 12px 0 0 0;
  padding: 0;
  list-style: none;
  font-size: 17px;
}
.mythras.sheet .sheet-header .characteristics ul li,
.mythras.sheet .sheet-header .attributes ul li {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2px 0;
  padding: 0;
  border-right: 2px groove #eeede0;
  text-align: center;
  color: #4b4a44;
}
.mythras.sheet .sheet-header .characteristics ul li label,
.mythras.sheet .sheet-header .attributes ul li label {
  border-bottom: 1px solid #c9c7b8;
}
.mythras.sheet .sheet-header .characteristics ul li input,
.mythras.sheet .sheet-header .attributes ul li input {
  height: auto;
}
.mythras.sheet .sheet-header .characteristics ul li:last-child,
.mythras.sheet .sheet-header .attributes ul li:last-child {
  border-right: none;
}
.mythras.sheet .sheet-header .characteristics .title,
.mythras.sheet .sheet-header .attributes .title {
  display: flex;
  width: 100%;
  margin-bottom: -30px;
}
.mythras.sheet .sheet-header .characteristics .title h2,
.mythras.sheet .sheet-header .attributes .title h2 {
  margin-top: -4px;
  border-bottom: none;
  font-size: 16px;
  letter-spacing: 2px;
  color: #9a0a0a;
}
.mythras.sheet .sheet-header .characteristics .title .separator,
.mythras.sheet .sheet-header .attributes .title .separator {
  flex-grow: 1;
  margin: 6px 5px 0 4px;
  border-top: 2px groove #eeede0;
}
.mythras.sheet .sheet-navigation {
  flex: 0 0 30px;
  margin-bottom: 5px;
  font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
  font-size: 24px;
}
.mythras.sheet .sheet-navigation .item {
  height: 30px;
  line-height: 32px;
  margin: 0 6px;
  border-bottom: 3px solid #b5b3a4;
}
.mythras.sheet .sheet-navigation .item.active {
  border-bottom: 3px solid #44191A;
}
.mythras.sheet .sheet-body {
  flex: 1;
  overflow: hidden;
}
.mythras.sheet .filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 16px;
  max-width: 70%;
}
.mythras.sheet .filter-list .filter-icon {
  flex: none;
  font-size: 14px;
  color: #7a7971;
}
.mythras.sheet .filter-list .filter-item {
  text-align: center;
  font-size: 12px;
  margin: 0 6px 0 0;
  border-bottom: 3px solid #b5b3a4;
  white-space: nowrap;
}
.mythras.sheet .filter-list .filter-item:last-child {
  margin: 0;
}
.mythras.sheet .filter-list .filter-item:hover {
  text-shadow: 0 0 4px red;
  border-bottom: 3px solid #7a7971;
}
.mythras.sheet .filter-list .filter-item.active {
  border-bottom: 3px solid #44191A;
}
.mythras.sheet .traits {
  margin: 5px 0 0;
}
.mythras.sheet .traits .trait-selector {
  flex: 0 0 16px;
  padding: 2px 0;
  color: #999;
  font-size: 10px;
}
.mythras.sheet .traits .traits-list {
  flex: 0 0 100%;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* ----------------------------------------- */
/* Trait Selector
/* ----------------------------------------- */
#trait-selector .trait-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
#trait-selector input[type="text"] {
  height: 24px;
  margin: 2px;
}
.mythras.sheet.actor {
  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  General Styles                           */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Attributes                               */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Ability Scores                           */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Skills                                   */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Statuses                                 */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Traits                                   */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Inventory Lists                          */
  /* ----------------------------------------- */
  /* Inventory List Filters */
  /* ----------------------------------------- */
  /*  Spellbook                                */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  TinyMCE                                  */
  /* ----------------------------------------- */
}
.mythras.sheet.actor .sheet-header img.profile {
  flex: 0 0 160px;
  max-width: 160px;
  height: 160px;
}
.mythras.sheet.actor .sheet-header h1.charname {
  flex: 1;
  height: 52px;
  padding: 0;
}
.mythras.sheet.actor .sheet-header h1.charname input {
  height: 32px;
  margin: 10px 0;
}
.mythras.sheet.actor .sheet-header .header-exp {
  flex: 0 0 150px;
  margin-right: 3px;
  height: 52px;
  justify-content: flex-end;
  text-align: right;
}
.mythras.sheet.actor .sheet-header .summary {
  height: 30px;
  border-bottom: 2px groove #eeede0;
  font-size: 18px;
}
.mythras.sheet.actor .sheet-header .summary input,
.mythras.sheet.actor .sheet-header .summary span {
  display: block;
  height: 24px;
  line-height: 24px;
}
.mythras.sheet.actor .sheet-header .attributes {
  flex: 0 0 100%;
  margin: 0;
}
.mythras.sheet.actor .sheet-header .attributes .attribute {
  height: 70px;
  margin: 0;
  border: none;
  border-right: 2px groove #eeede0;
  border-radius: 0;
}
.mythras.sheet.actor .sheet-header .attributes .attribute:last-child {
  border-right: none;
}
.mythras.sheet.actor .sheet-header .attributes .attribute .attribute-value {
  height: 30px;
  line-height: 30px;
}
.mythras.sheet.actor .attributes input.temphp {
  width: 48%;
}
.mythras.sheet.actor h4.box-title {
  height: 18px;
  line-height: 16px;
  margin: 4px 8px 2px;
  font-size: 18px;
  color: #4b4a44;
  border-bottom: 1px solid #c9c7b8;
}
.mythras.sheet.actor .tab.attributes {
  overflow: hidden;
}
.mythras.sheet.actor ul.attributes {
  flex: 0 0 60px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.mythras.sheet.actor ul.attributes li.attribute {
  height: 60px;
  margin: 0 5px 0 0;
  border: 2px groove #eeede0;
  border-radius: 4px;
  font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
  font-size: 24px;
  text-align: center;
}
.mythras.sheet.actor ul.attributes li.attribute:last-child {
  margin: 0;
}
.mythras.sheet.actor ul.attributes li.attribute .attribute-value {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  line-height: 28px;
}
.mythras.sheet.actor ul.attributes li.attribute .attribute-value > * {
  font-size: 24px;
}
.mythras.sheet.actor ul.attributes li.attribute .attribute-value.multiple input {
  flex: 0 0 33%;
}
.mythras.sheet.actor ul.attributes li.attribute .attribute-footer {
  flex: 0 0 18px;
  margin-top: -1px;
  line-height: 18px;
  font-family: "Signika", "Palatino Linotype", serif;
  font-size: 12px;
}
.mythras.sheet.actor .ability-scores {
  flex: 0 0 100px;
  height: 440px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
  font-size: 24px;
  border: 2px groove #eeede0;
  border-radius: 3px;
}
.mythras.sheet.actor .ability-scores .ability {
  height: 70px;
  text-align: center;
  border-bottom: 2px groove #eeede0;
}
.mythras.sheet.actor .ability-scores .ability:last-child {
  border-bottom: none;
  margin-bottom: -3px;
}
.mythras.sheet.actor .ability-scores .ability input.ability-score {
  height: 30px;
  width: 36px;
  margin: 0 auto;
  line-height: 32px;
  font-size: 24px;
}
.mythras.sheet.actor .ability-scores .ability .ability-modifiers {
  height: 24px;
  margin: -8px 0 0;
}
.mythras.sheet.actor .ability-scores .ability .ability-modifiers span.ability-mod,
.mythras.sheet.actor .ability-scores .ability .ability-modifiers span.ability-save {
  flex: 0 0 24px;
  height: 22px;
  line-height: 22px;
  font-size: 16px;
  border-top: 2px groove #eeede0;
}
.mythras.sheet.actor .ability-scores .ability .ability-modifiers span.ability-mod {
  border-right: 2px groove #eeede0;
}
.mythras.sheet.actor .ability-scores .ability .ability-modifiers .ability-proficiency {
  line-height: 30px;
}
.mythras.sheet.actor .ability-scores .ability .ability-modifiers span.ability-save {
  border-left: 2px groove #eeede0;
}
.mythras.sheet.actor .proficiency-toggle {
  color: #b5b3a4;
  font-size: 12px;
}
.mythras.sheet.actor .proficient .proficiency-toggle {
  color: #4b4a44;
}
.mythras.sheet.actor .locked .proficiency-toggle {
  color: #b5b3a4;
  text-shadow: none;
  cursor: default;
}
.mythras.sheet.actor ul.skills-list {
  flex: 0 0 180px;
  height: 440px;
  list-style: none;
  margin: 0 5px 0;
  padding: 3px 0 2px;
  border: 2px groove #eeede0;
  border-radius: 3px;
}
.mythras.sheet.actor ul.skills-list li.skill {
  height: 24px;
  padding: 3px 2px;
}
.mythras.sheet.actor ul.skills-list li.skill:nth-child(even) {
  background: rgba(0, 0, 0, 0.05);
}
.mythras.sheet.actor ul.skills-list li.skill h4 {
  flex: 1px;
  margin: 0;
  font-size: 11px;
  line-height: 18px;
}
.mythras.sheet.actor ul.skills-list li.skill .skill-proficiency {
  flex: 0 0 16px;
  line-height: 18px;
}
.mythras.sheet.actor ul.skills-list li.skill .skill-ability {
  flex: 0 0 26px;
}
.mythras.sheet.actor ul.skills-list li.skill .skill-mod {
  flex: 0 0 20px;
}
.mythras.sheet.actor ul.skills-list li.skill .skill-passive {
  flex: 0 0 26px;
  text-align: center;
  color: #7a7971;
}
.mythras.sheet.actor .counters {
  flex: none;
  padding: 5px 0;
  margin: 0;
  border-bottom: 2px groove #eeede0;
}
.mythras.sheet.actor .counters .counter {
  height: 20px;
  line-height: 20px;
}
.mythras.sheet.actor .counters .counter h4 {
  flex: auto;
  margin: 0;
  font-size: 13px;
  font-weight: bold;
  color: #4b4a44;
}
.mythras.sheet.actor .counters .counter .counter-value {
  flex: none;
  text-align: right;
}
.mythras.sheet.actor .counters .counter .counter-value > * {
  display: inline;
}
.mythras.sheet.actor .counters .counter input[type="text"] {
  height: 20px;
  max-width: 20px;
  margin: 0;
  padding: 0;
  text-align: center;
}
.mythras.sheet.actor .counters .counter input[type="checkbox"] {
  position: relative;
  width: 16px;
  height: 16px;
  margin: 0;
  top: 4px;
}
.mythras.sheet.actor .counters .counter span.sep {
  font-size: 12px;
}
.mythras.sheet.actor .center-pane {
  height: 100%;
  padding: 0 5px 0 3px;
  overflow-y: auto;
  scrollbar-width: thin;
}
.mythras.sheet.actor .traits .form-group,
.mythras.sheet.actor .traits .form-group-stacked {
  margin: 0 0 3px 0;
  justify-content: space-between;
}
.mythras.sheet.actor .traits .configure-flags {
  flex: 1;
}
.mythras.sheet.actor .traits label {
  flex: none;
  line-height: 20px;
  font-weight: bold;
  margin: 0 10px 0 0;
}
.mythras.sheet.actor .traits select {
  max-width: 200px;
}
.mythras.sheet.actor .traits input {
  text-align: right;
}
.mythras.sheet.actor .traits i.fas {
  float: right;
  margin-right: 3px;
  text-align: right;
  color: #999;
}
.mythras.sheet.actor .traits i.fas:hover {
  color: #111;
  text-shadow: 0 0 10px red;
}
.mythras.sheet.actor .traits .inactive {
  color: #7a7971;
}
.mythras.sheet.actor .tab.features,
.mythras.sheet.actor .tab.inventory,
.mythras.sheet.actor .tab.spellbook {
  overflow-y: hidden;
}
.mythras.sheet.actor .inventory-filters {
  margin: 0 8px;
  flex: 0 0 20px;
  justify-content: flex-end;
}
.mythras.sheet.actor .inventory-filters .currency {
  flex: 0 0 100%;
  list-style: none;
  margin: 4px 0 8px;
  padding: 0;
  font-size: 12px;
}
.mythras.sheet.actor .inventory-filters .currency label {
  flex: 0;
  margin-left: 8px;
  text-align: right;
  line-height: 20px;
  color: #7a7971;
}
.mythras.sheet.actor .inventory-filters .currency input[type="text"] {
  flex: 0 0 48px;
  text-align: center;
  margin-left: 8px;
  border-bottom: 2px groove #eeede0;
}
.mythras.sheet.actor .inventory-list {
  list-style: none;
  margin: 0;
  padding: 0 5px;
  overflow-y: auto;
  scrollbar-width: thin;
}
.mythras.sheet.actor .inventory-list .item {
  line-height: 30px;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}
.mythras.sheet.actor .inventory-list .item:last-child {
  border-bottom: none;
}
.mythras.sheet.actor .inventory-list .item .item-name {
  cursor: pointer;
  max-height: 30px;
  overflow: hidden;
}
.mythras.sheet.actor .inventory-list .item .item-name .item-image {
  flex: 0 0 30px;
  background-size: 30px;
  margin-right: 5px;
}
.mythras.sheet.actor .inventory-list .item .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.mythras.sheet.actor .inventory-list .item .item-name.rollable:hover .item-image {
  background-image: url("/icons/svg/d20-grey.svg") !important;
}
.mythras.sheet.actor .inventory-list .item .item-name.rollable .item-image:hover {
  background-image: url("/icons/svg/d20-black.svg") !important;
}
.mythras.sheet.actor .inventory-list .item .item-name i.attuned {
  color: #7a7971;
}
.mythras.sheet.actor .inventory-list .item .item-uses input {
  width: 24px;
  text-align: center;
}
.mythras.sheet.actor .inventory-list .item .item-properties {
  margin-top: 3px;
}
.mythras.sheet.actor .inventory-list .item .item-recharge {
  flex: 0 0 80px;
  text-align: right;
  font-size: 11px;
  color: #7a7971;
  white-space: nowrap;
}
.mythras.sheet.actor .inventory-list .inventory-header {
  margin: 2px 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
  line-height: 24px;
}
.mythras.sheet.actor .inventory-list .inventory-header h3 {
  margin: 0 -5px 0 0;
  padding-left: 5px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
}
.mythras.sheet.actor .inventory-list .inventory-header h3:hover {
  text-shadow: 0 0 8px red;
}
.mythras.sheet.actor .inventory-list .inventory-header .item-controls a.item-create {
  flex: 0 0 100%;
}
.mythras.sheet.actor .inventory-list .inventory-header .item-header {
  flex: 0 0 65px;
  font-size: 12px;
  font-weight: normal;
  color: #7a7971;
  border-right: 1px solid #c9c7b8;
  text-align: center;
}
.mythras.sheet.actor .inventory-list .inventory-header .item-header.characteristic {
  flex: 0 0 100px;
}
.mythras.sheet.actor .inventory-list .disabled {
  opacity: 0.2;
}
.mythras.sheet.actor .inventory-list .item-detail {
  position: relative;
  flex: 0 0 70px;
  font-size: 12px;
  color: #7a7971;
  text-align: center;
  border-right: 1px solid #c9c7b8;
  word-break: break-word;
  white-space: nowrap;
  overflow: hidden;
}
.mythras.sheet.actor .inventory-list .item-detail:last-child {
  border-right: none;
}
.mythras.sheet.actor .inventory-list .item-detail.item-action {
  flex: 0 0 65px;
}
.mythras.sheet.actor .inventory-list .item-detail.characteristic {
  flex: 0 0 100px;
}
.mythras.sheet.actor .inventory-list .item-weight {
  flex: 0 0 60px;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
}
.mythras.sheet.actor .inventory-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.mythras.sheet.actor .inventory-list .item-controls {
  flex: 0 0 44px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-content: flex-end;
}
.mythras.sheet.actor .inventory-list .item-controls > * {
  flex: 1;
}
.mythras.sheet.actor .inventory-list .item-controls .flex1 {
  flex: 1;
}
.mythras.sheet.actor .inventory-list .item-controls .flex2 {
  flex: 2;
}
.mythras.sheet.actor .inventory-list .item-controls .flex3 {
  flex: 3;
}
.mythras.sheet.actor .inventory-list .item-controls .flex4 {
  flex: 4;
}
.mythras.sheet.actor .inventory-list .item-controls a,
.mythras.sheet.actor .inventory-list .item-controls span {
  flex: 0 0 22px;
  font-size: 12px;
  text-align: center;
  color: #7a7971;
}
.mythras.sheet.actor .inventory-list .item-summary {
  flex: 0 0 100%;
  font-size: 14px;
  line-height: 21px;
  padding: 1em 1em;
  border-top: 1px solid #c9c7b8;
  border-left: 10px solid #9c9c9c57;
}
.mythras.sheet.actor .spellcasting-ability {
  flex: 0 0 240px;
  margin: 0;
}
.mythras.sheet.actor .spellcasting-ability input,
.mythras.sheet.actor .spellcasting-ability span {
  flex: 0 0 32px;
  text-align: center;
}
.mythras.sheet.actor .spellcasting-ability select {
  margin: 0 5px;
  flex: 0 0 150px;
}
.mythras.sheet.actor .spellcasting-ability h3.spell-dc {
  flex: 1;
  text-align: right;
}
.mythras.sheet.actor .spell-slots,
.mythras.sheet.actor .spell-comps {
  flex: 0 0 72px;
  padding-right: 5px;
  text-align: right;
  font-size: 12px;
  color: #7a7971;
  border-right: 1px solid #c9c7b8;
}
.mythras.sheet.actor .spell-slots input {
  display: inline;
  max-width: 20px;
}
.mythras.sheet.actor .spell-slots .sep {
  font-size: 13px;
  font-weight: normal;
}
.mythras.sheet.actor .spell-uses {
  padding-right: 8px;
  text-align: right !important;
}
.mythras.sheet.actor .spell-school,
.mythras.sheet.actor .spell-action,
.mythras.sheet.actor .spell-target {
  flex: 0 0 100px;
  font-size: 12px;
  color: #7a7971;
  text-align: center;
  border-right: 1px solid #c9c7b8;
}
.mythras.sheet.actor .spell-component {
  line-height: 14px;
}
.mythras.sheet.actor .spell-component.C,
.mythras.sheet.actor .spell-component.R {
  display: inline-block;
  text-align: center;
  padding-top: 1px;
  width: 16px;
  color: #c9c7b8;
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid transparent;
  border-radius: 8px;
}
.mythras.sheet.actor .spellbook-empty .item-controls {
  flex: 1;
}
.mythras.sheet.actor .editor {
  padding: 0 8px;
}
.mythras.sheet.item {
  min-height: 420px;
  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Item Details Form                        */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Item Actions                             */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Item Actions                             */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Loot Sheet (No Tabs)                     */
  /* ----------------------------------------- */
}
.mythras.sheet.item .sheet-header img.profile {
  border: 2px solid #000;
}
.mythras.sheet.item .sheet-header .item-subtitle {
  flex: 0 0 80px;
  height: 60px;
  margin: 0;
  padding: 5px;
  text-align: right;
  color: #7a7971;
}
.mythras.sheet.item .sheet-header .item-subtitle .item-type {
  font-size: 24px;
  line-height: 26px;
  margin: 0;
}
.mythras.sheet.item .sheet-header .item-subtitle .item-status {
  font-size: 16px;
  line-height: 24px;
}
.mythras.sheet.item .sheet-navigation {
  margin-bottom: 5px;
}
.mythras.sheet.item .sheet-navigation .item {
  font-size: 18px;
}
.mythras.sheet.item .sheet-body {
  overflow: hidden;
}
.mythras.sheet.item .sheet-body .tab {
  padding: 0 5px;
  overflow: hidden auto;
}
.mythras.sheet.item .sheet-body .item-properties {
  flex: 0 0 120px;
  margin: 5px 5px 5px 0;
  padding-right: 5px;
  border-right: 2px groove #eeede0;
}
.mythras.sheet.item .sheet-body .item-properties .form-group {
  margin: 0;
}
.mythras.sheet.item .sheet-body .item-properties .form-group label {
  line-height: 20px;
}
.mythras.sheet.item .sheet-body .item-properties .form-group input {
  text-align: right;
}
.mythras.sheet.item .sheet-body .item-properties .properties-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.mythras.sheet.item .sheet-body .item-properties .properties-list li {
  margin: 3px 0;
  padding: 0 2px;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  text-align: center;
  font-size: 12px;
  line-height: 18px;
}
.mythras.sheet.item .details input[type="text"],
.mythras.sheet.item .details select {
  height: 24px;
  border: 1px solid #7a7971;
  background: rgba(0, 0, 0, 0.05);
}
.mythras.sheet.item .details .form-group span {
  text-align: center;
  line-height: 24px;
}
.mythras.sheet.item .details .form-group.input-select select {
  flex: 1.8;
}
.mythras.sheet.item .details .form-group.input-select-select select {
  flex: 1.5;
}
.mythras.sheet.item .details .form-group.uses-per input {
  flex: 1;
}
.mythras.sheet.item .details .form-group.uses-per span {
  flex: 0 0 16px;
}
.mythras.sheet.item .details .form-group.uses-per select {
  flex: 3;
}
.mythras.sheet.item .details span.sep {
  flex: 0 0 8px;
}
.mythras.sheet.item .details .prepared {
  flex: 1.3 !important;
  text-align: right;
  padding-right: 10px;
}
.mythras.sheet.item .details .spell-materials {
  flex: 0 0 100%;
  margin: 0.25em 0;
  justify-content: flex-end;
}
.mythras.sheet.item .details .spell-materials label {
  flex: 0 0 64px;
  text-align: right;
  margin-right: 5px;
  font-size: 12px;
  line-height: 24px;
}
.mythras.sheet.item .details .spell-materials input[type="text"] {
  flex: 0 0 48px;
  margin-right: 10px;
}
.mythras.sheet.item h4.damage-header {
  margin: 0;
  padding: 0;
  font-weight: bold;
  line-height: 24px;
  color: #4b4a44;
}
.mythras.sheet.item .damage-parts {
  list-style: none;
  margin: 0;
  padding: 0;
}
.mythras.sheet.item .damage-parts .damage-part {
  flex: 0 0 100%;
  padding: 0;
}
.mythras.sheet.item .damage-parts .damage-part input {
  flex: 3;
}
.mythras.sheet.item .damage-parts .damage-part select {
  margin-left: 5px;
  flex: 1;
}
.mythras.sheet.item .damage-control {
  width: 18px;
  flex: 0 0 18px;
  line-height: 24px;
  float: right;
  text-align: right;
  color: #7a7971;
}
.mythras.sheet.item .recharge.form-group span {
  text-align: right;
  padding-right: 3px;
}
.mythras.sheet.item .recharge.form-group input[type="text"] {
  flex: 0 0 32px;
  text-align: center;
}
.mythras.sheet.item .recharge.form-group label.checkbox {
  flex: none;
}
.mythras.sheet.item .recharge.form-group label.checkbox input {
  width: 16px;
  height: 16px;
  top: 4px;
}
.mythras.sheet.item .weapon-properties label.checkbox {
  flex: 0 0 98px;
}
.mythras.sheet.item .loot-header {
  margin-bottom: 10px;
}
/* ----------------------------------------- */
/*  Chat Cards
/* ----------------------------------------- */
.mythras.chat-card {
  font-style: normal;
  font-size: 12px;
}
.mythras.chat-card .card-header {
  padding: 3px 0;
  border-top: 2px groove #FFF;
  border-bottom: 2px groove #FFF;
}
.mythras.chat-card .card-header img {
  flex: 0 0 36px;
  margin-right: 5px;
}
.mythras.chat-card .card-header h3 {
  flex: 1;
  margin: 0;
  line-height: 36px;
  font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
  font-size: 24px;
  color: #4b4a44;
}
.mythras.chat-card .card-header h3:hover {
  color: #111;
  text-shadow: 0 0 10px red;
}
.mythras.chat-card .card-content {
  margin: 5px 0;
}
.mythras.chat-card .card-content h3 {
  font-size: 12px;
  margin: 0;
  font-weight: bold;
}
.mythras.chat-card .card-content > * {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.mythras.chat-card .card-buttons {
  margin: 5px 0;
}
.mythras.chat-card .card-buttons span {
  display: block;
  line-height: 28px;
  text-align: center;
  border: 1px solid #CCC;
}
.mythras.chat-card .card-buttons button {
  font-size: 12px;
  height: 24px;
  line-height: 20px;
  margin: 2px 0;
}
.mythras.chat-card .card-footer {
  padding: 3px 0 0;
  border-top: 2px groove #FFF;
}
.mythras.chat-card .card-footer span {
  border-right: 2px groove #FFF;
  padding: 0 5px 0 0;
  font-size: 10px;
}
.mythras.chat-card .card-footer span:last-child {
  border-right: none;
  padding-right: 0;
}
.dice-roll .dice-total.success {
  color: inherit;
  background: #c7d0c0;
  border: 1px solid #006c00;
}
.dice-roll .dice-total.failure {
  color: inherit;
  background: #ffdddd;
  border: 1px solid #6e0000;
}
.dice-roll .dice-total.critical {
  color: green;
}
.dice-roll .dice-total.fumble {
  color: red;
}
.roll-result.label {
  margin-left: 6px;
  font-family: Signika, serif;
  font-size: 16px;
  line-height: 28px;
}
.roll-result.value {
  float: right;
  margin-right: 16px;
  font-family: Nodesto, Signika, "Palatino Linotype", serif;
  font-size: 26px;
}
ul.difficulty-grade-table,
ul.difficulty-roll-table {
  padding: 0px;
}
ul.difficulty-grade-table li.difficulty,
ul.difficulty-roll-table li.difficulty {
  height: 24px;
  vertical-align: middle;
  line-height: 24px;
  border: 2px groove #eeede0;
}
ul.difficulty-grade-table li.difficulty .label,
ul.difficulty-roll-table li.difficulty .label {
  padding-left: 10px;
  font-family: Signika, serif;
  font-size: 14px;
  text-align: center;
}
ul.difficulty-grade-table li.difficulty .label.difficulty,
ul.difficulty-roll-table li.difficulty .label.difficulty {
  text-align: left;
}
ul.difficulty-grade-table li.difficulty .key,
ul.difficulty-roll-table li.difficulty .key {
  padding-left: 10px;
  font-family: Signika, serif;
  font-size: 14px;
}
ul.difficulty-grade-table li.difficulty .value,
ul.difficulty-roll-table li.difficulty .value {
  text-align: center;
  font-family: Nodesto, Signika, "Palatino Linotype", serif;
  font-size: 18px;
}
ul.difficulty-grade-table li.difficulty.fumble,
ul.difficulty-roll-table li.difficulty.fumble {
  margin-bottom: 8px;
  background: #420d737a;
  color: white;
  font-size: 18px;
}
ul.difficulty-grade-table li.difficulty.very-easy,
ul.difficulty-roll-table li.difficulty.very-easy {
  background: #5ef12226;
}
ul.difficulty-grade-table li.difficulty.easy,
ul.difficulty-roll-table li.difficulty.easy {
  background: #6dceff33;
}
ul.difficulty-grade-table li.difficulty.standard,
ul.difficulty-roll-table li.difficulty.standard {
  background: #ffffff7d;
}
ul.difficulty-grade-table li.difficulty.hard,
ul.difficulty-roll-table li.difficulty.hard {
  background: #fff70021;
}
ul.difficulty-grade-table li.difficulty.formidable,
ul.difficulty-roll-table li.difficulty.formidable {
  background: #ff8d0036;
}
ul.difficulty-grade-table li.difficulty.herculean,
ul.difficulty-roll-table li.difficulty.herculean {
  background: #ff000038;
}
ul.difficulty-grade-table li.difficulty.critical,
ul.difficulty-roll-table li.difficulty.critical {
  margin: 8px 0 5px 0;
  background: #0d35006e;
  color: white;
  font-size: 18px;
}
ul.difficulty-grade-table li.difficulty:not(:last-child) {
  border-bottom: none;
}
/* ----------------------------------------- */
/*  Basic Structure                          */
/* ----------------------------------------- */
.mythras.sheet.actor.character {
  min-width: 830px;
  min-height: 780px;
  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet Body                               */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Inventory                                */
  /* ----------------------------------------- */
  /* Encumbrance Bar */
  /* ----------------------------------------- */
  /*  Item Controls                            */
  /* ----------------------------------------- */
}
.mythras.sheet.actor.character .sheet-header img.profile {
  flex: 0 0 160px;
  max-width: 160px;
  height: 160px;
}
.mythras.sheet.actor.character .sheet-header .char-info-container {
  flex: 1.5;
}
.mythras.sheet.actor.character .sheet-header .char-info-container .char-info {
  display: inline-flex;
  align-items: center;
  font-size: 18px;
  color: #4b4a44;
}
.mythras.sheet.actor.character .sheet-header .char-info-container .char-info input {
  color: #4b4a44;
  text-align: left;
}
.mythras.sheet.actor.character .sheet-header .char-info-container .char-info.age input {
  width: 24px;
}
.mythras.sheet.actor.character .sheet-header .char-info-container .char-info.height {
  flex-grow: 0;
}
.mythras.sheet.actor.character .sheet-header .char-info-container .char-info.height input {
  width: 30px;
  text-align: right;
}
.mythras.sheet.actor.character .sheet-header .char-info-container .char-info.width input:nth-child(1) {
  width: 40px;
  text-align: right;
}
.mythras.sheet.actor.character .sheet-header .char-info-container .char-info.width select {
  width: 70px;
}
.mythras.sheet.actor.character .sheet-header .char-info-container .char-info input::placeholder {
  color: #4b4a44cc;
}
.mythras.sheet.actor.character .sheet-header .experience {
  flex: 0 0 32px;
  margin-bottom: -5px;
  align-items: center;
  font-size: 18px;
}
.mythras.sheet.actor.character .sheet-header .experience span.max {
  color: #7a7971;
  flex: none;
  margin-left: 3px;
}
.mythras.sheet.actor.character .sheet-header .xpbar {
  flex: 0 0 8px;
  width: 100%;
  margin-bottom: 5px;
  background: #7a7971;
  border: 1px solid #000;
  border-radius: 3px;
}
.mythras.sheet.actor.character .sheet-header .xpbar .bar {
  height: 4px;
  margin: 1px;
  display: block;
  background: #afebff;
  border: 1px solid #000;
  border-radius: 2px;
}
.mythras.sheet.actor.character .sheet-header .attributes a.rest {
  border: 1px solid #b5b3a4;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.05);
  padding: 0 3px;
  margin: 0 3px;
}
.mythras.sheet.actor.character .sheet-header .attributes .hit-dice {
  font-size: 24px;
}
.mythras.sheet.actor.character .sheet-header .attributes .initiative .attribute-footer input {
  width: 32px;
}
.mythras.sheet.actor.character .sheet-header .summary .proficiency {
  text-align: right;
  padding-right: 5px;
}
.mythras.sheet.actor.character .resource .attribute-value input {
  flex: 0 0 25%;
}
.mythras.sheet.actor.character .resource .attribute-value label.recharge {
  height: 32px;
  position: relative;
  font-size: 13px;
  text-align: center;
  color: #4b4a44;
}
.mythras.sheet.actor.character .resource .attribute-value label.recharge input[type="checkbox"] {
  height: 14px;
  width: 14px;
  margin: 0;
  top: -6px;
}
.mythras.sheet.actor.character ul.skills-list {
  flex: 0 0 212px;
}
.mythras.sheet.actor.character ul.skills-list li.skill {
  padding: 3px;
}
.mythras.sheet.actor.character ul.skills-list li.skill h4 {
  flex: 1px;
  margin: 0;
  font-size: 13px;
}
.mythras.sheet.actor.character .item-detail.player-class {
  flex: 0 0 180px;
  text-align: right;
  padding-right: 10px;
}
.mythras.sheet.actor.character .encumbrance {
  flex: 0 0 12px;
  background: #7a7971;
  margin: 1px 15px 0 1px;
  border: 1px solid #191813;
  border-radius: 3px;
  position: relative;
}
.mythras.sheet.actor.character .encumbrance .encumbrance-bar {
  position: absolute;
  top: 1px;
  left: 1px;
  background: #6c8aa5;
  height: 8px;
  border: 1px solid #cde4ff;
  border-radius: 2px;
}
.mythras.sheet.actor.character .encumbrance .encumbrance-label {
  height: 10px;
  padding: 0 5px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 13px;
  line-height: 12px;
  text-align: right;
  color: #EEE;
  text-shadow: 0 0 5px #000;
}
.mythras.sheet.actor.character .encumbrance .encumbrance-breakpoint {
  display: block;
  position: absolute;
}
.mythras.sheet.actor.character .encumbrance .encumbrance-breakpoint.encumbrance-33 {
  left: 33%;
}
.mythras.sheet.actor.character .encumbrance .encumbrance-breakpoint.encumbrance-66 {
  left: 66%;
}
.mythras.sheet.actor.character .encumbrance .arrow-up {
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #666;
}
.mythras.sheet.actor.character .encumbrance .arrow-down {
  top: 0;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #666;
}
.mythras.sheet.actor.character .encumbrance.encumbered .arrow-up {
  border-bottom: 4px solid #000;
}
.mythras.sheet.actor.character .encumbrance.encumbered .arrow-down {
  border-top: 4px solid #000;
}
.mythras.sheet.actor.character .inventory .item-controls,
.mythras.sheet.actor.character .spellbook .item-controls {
  flex: 0 0 68px;
}
.mythras.sheet.actor.character .inventory .item-controls .item-toggle,
.mythras.sheet.actor.character .spellbook .item-controls .item-toggle {
  color: #b5b3a4;
}
.mythras.sheet.actor.character .inventory .item-controls .item-toggle.active,
.mythras.sheet.actor.character .spellbook .item-controls .item-toggle.active {
  color: #4b4a44;
}
.mythras.sheet.actor.character .inventory .item-controls .item-toggle.fixed,
.mythras.sheet.actor.character .spellbook .item-controls .item-toggle.fixed {
  color: #44191A;
}
.mythras.sheet.actor.character .inventory .item-controls .item-toggle.fixed:hover,
.mythras.sheet.actor.character .spellbook .item-controls .item-toggle.fixed:hover {
  text-shadow: none;
}
.health-armor {
  display: flex;
  justify-content: center;
}
.health-armor .biped-body {
  position: absolute;
  background: url("ui/human-body.png") no-repeat center center;
  background-size: 240px;
  width: 560px;
  height: 560px;
}
.health-armor .item-display {
  position: absolute;
  border: 2px groove #eeede0;
  background-color: #eeede0d9;
}
.health-armor .item-display.head {
  width: 80px;
  height: 95px;
  left: 240px;
  top: 30px;
}
.health-armor .item-display.neck {
  width: 70px;
  height: 70px;
  left: 165px;
  top: 55px;
}
.health-armor .item-display.right-wrist {
  width: 50px;
  height: 50px;
  left: 160px;
  top: 240px;
}
.health-armor .item-display.left-wrist {
  width: 50px;
  height: 50px;
  left: 350px;
  top: 240px;
}
.health-armor .item-display.right-hand {
  width: 50px;
  height: 50px;
  left: 155px;
  top: 295px;
}
.health-armor .item-display.left-hand {
  width: 50px;
  height: 50px;
  left: 355px;
  top: 295px;
}
.health-armor .item-display.right-hand-hold {
  width: 100px;
  height: 140px;
  left: 128px;
  top: 355px;
}
.health-armor .item-display.left-hand-hold {
  width: 100px;
  height: 140px;
  left: 332px;
  top: 355px;
}
.health-armor .item-display.chest {
  width: 130px;
  height: 130px;
  left: 215px;
  top: 130px;
}
.health-armor .item-display.abdomen {
  width: 80px;
  height: 50px;
  left: 240px;
  top: 265px;
}
.health-armor .item-display.legs {
  width: 90px;
  height: 120px;
  left: 235px;
  top: 320px;
}
.health-armor .item-display.feet {
  width: 80px;
  height: 80px;
  left: 240px;
  top: 445px;
}
.health-armor .body-part {
  position: absolute;
  border: 2px groove #eeede0;
  display: flex;
  flex-direction: column;
  width: 140px;
  height: 95px;
  line-height: 17px;
}
.health-armor .body-part input {
  width: 25px;
  height: 20px;
  font-family: Nodesto, Signika, "Palatino Linotype", serif;
  font-size: 18px;
  text-align: center;
}
.health-armor .body-part.head {
  left: 325px;
  top: 30px;
}
.health-armor .body-part.right-arm {
  left: 70px;
  top: 135px;
}
.health-armor .body-part.left-arm {
  left: 350px;
  top: 135px;
}
.health-armor .body-part.chest {
  left: 10px;
  top: 245px;
}
.health-armor .body-part.abdomen {
  left: 410px;
  top: 245px;
}
.health-armor .body-part.right-leg {
  left: -19px;
  top: 355px;
}
.health-armor .body-part.left-leg {
  left: 439px;
  top: 355px;
}
.health-armor .body-part .body-part-name {
  padding: 0;
  margin: 4px 8px 2px;
  font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  color: #4b4a44;
  border-bottom: 1px solid #c9c7b8;
}
.health-armor .body-part .entry {
  margin: 0px 8px 0px;
  font-size: 13px;
}
.health-armor .body-part .entry.hit-points,
.health-armor .body-part .entry.armour2-points {
  background: rgba(0, 0, 0, 0.05);
}
.health-armor .body-part .entry label {
  vertical-align: middle;
}
/* ----------------------------------------- */
/*  Basic Structure                          */
/* ----------------------------------------- */
.mythras.sheet.actor.npc {
  min-width: 600px;
  min-height: 680px;
}
.mythras.sheet.actor.npc .header-exp {
  flex: 0 0 80px;
  justify-content: center;
}
.mythras.sheet.actor.npc .header-exp .cr {
  flex: 0 0 32px;
  line-height: 28px;
  margin-bottom: -5px;
  font-size: 24px;
}
.mythras.sheet.actor.npc .header-exp .cr input {
  width: 32px;
  padding: 0;
  text-align: center;
}
.mythras.sheet.actor.npc .header-exp .experience {
  flex: 0 0 18px;
  color: #7a7971;
  font-size: 16px;
}
.mythras.sheet.actor.npc .characteristics {
  font-size: 18px;
}
.mythras.sheet.actor.npc .summary {
  font-size: 18px;
}
.mythras.sheet.actor.npc .spellcasting-ability label {
  flex: none;
}
