<form>
    <div class="mythras chat-card item-card">
        <header class="card-header flexrow">
            <h3 class="item-name">{{ title }}</h3>
        </header>
        <ul>
            <li>
            {{#if roll}}
                <span class="roll-result label">{{ localize "MYTHRAS.Skills.RollResult" }}:</span>
                <span class="roll-result value">{{ roll }}</span>
                <span class="roll-result value">
                    {{#if bestRollResult.critical}}{{ localize "MYTHRAS.Skill.CriticalSuccess" }} {{ localize bestRollResult.critical }}
                    {{else if bestRollResult.success}}{{ localize bestRollResult.success }}
                    {{else}}{{ localize "MYTHRAS.Skill.Failure" }}
                    {{/if}}</span>
                {{#if bestRollResult.critical}}
                <span class="roll-result label">{{ localize "MYTHRAS.Skills.RollResult" }}:</span> <span class="roll-result value">{{ localize bestRollResult.critical }}</span>
                {{/if}}
            {{/if}}
            </li>
        </ul>

        <ul class="difficulty-grade-table form-group-stacked">
            <li class="difficulty title flexrow ">
                <span class="label difficulty">{{ localize "MYTHRAS.Skills.Difficulty" }}</span>
                <span class="label critical-success">{{ localize "MYTHRAS.Skills.CriticalSuccess" }}</span>
                <span class="label success">{{ localize "MYTHRAS.Skills.Success" }}</span>
            </li>
            <li class="difficulty very-easy flexrow " {{#if veryEasyRoll.notSuccess}}style="opacity: 0.3"{{/if}}>
                <span class="key rollable">{{ localize "MYTHRAS.Skills.VeryEasy" }}</span>
                <span class="value " {{#if veryEasyRoll.notCriticalSuccess}}style="opacity: 0.3"{{/if}}>{{#if veryEasy.notCriticalSuccess}} ✕{{else if roll}} ✓{{/if}} ≤ {{ veryEasy.criticalSuccess }}</span>
                <span class="value success">{{#if veryEasyRoll.notSuccess}} ✕{{else if roll}} ✓{{/if}} ≤ {{ veryEasy.success }}</span>
            </li>
            <li class="difficulty easy flexrow " {{#if easyRoll.notSuccess}}style="opacity: 0.3"{{/if}}>
                <span class="key rollable">{{ localize "MYTHRAS.Skills.Easy" }}</span>
                <span class="value " {{#if easyRoll.notCriticalSuccess}}style="opacity: 0.3"{{/if}}>{{#if easyRoll.notCriticalSuccess}} ✕{{else if roll}} ✓{{/if}} ≤ {{ easy.criticalSuccess }}</span>
                <span class="value ">{{#if easyRoll.notSuccess}} ✕{{else if roll}} ✓{{/if}} ≤ {{ easy.success }}</span>
            </li>
            <li class="difficulty standard flexrow " {{#if standardRoll.notSuccess}}style="opacity: 0.3"{{/if}}>
                <span class="key">{{ localize "MYTHRAS.Skills.Standard" }}</span>
                <span class="value " {{#if standardRoll.notCriticalSuccess}}style="opacity: 0.3"{{/if}}>{{#if standardRoll.notCriticalSuccess}} ✕{{else if roll}} ✓{{/if}} ≤ {{ standard.criticalSuccess }}</span>
                <span class="value ">{{#if standardRoll.notSuccess}} ✕{{else if roll}} ✓{{/if}} ≤ {{ standard.success }}</span>
            </li>
            <li class="difficulty hard flexrow " {{#if hardRoll.notSuccess}}style="opacity: 0.3"{{/if}}>
                <span class="key">{{ localize "MYTHRAS.Skills.Hard" }}</span>
                <span class="value " {{#if hardRoll.notCriticalSuccess}}style="opacity: 0.3"{{/if}}>{{#if hardRoll.notCriticalSuccess}} ✕{{else if roll}} ✓{{/if}} ≤ {{ hard.criticalSuccess }}</span>
                <span class="value ">{{#if hardRoll.notSuccess}} ✕{{else if roll}} ✓{{/if}} ≤ {{ hard.success }}</span>
            </li>
            <li class="difficulty formidable flexrow " {{#if formidableRoll.notSuccess}}style="opacity: 0.3"{{/if}}>
                <span class="key">{{ localize "MYTHRAS.Skills.Formidable" }}</span>
                <span class="value " {{#if formidableRoll.notCriticalSuccess}}style="opacity: 0.3"{{/if}}>{{#if formidableRoll.notCriticalSuccess}} ✕{{else if roll}} ✓{{/if}} ≤ {{ formidable.criticalSuccess }}</span>
                <span class="value ">{{#if formidableRoll.notSuccess}} ✕{{else if roll}} ✓{{/if}} ≤ {{ formidable.success }}</span>
            </li>
            <li class="difficulty herculean flexrow " {{#if herculeanRoll.notSuccess}}style="opacity: 0.3"{{/if}}>
                <span class="key">{{ localize "MYTHRAS.Skills.Herculean" }}</span>
                <span class="value " {{#if herculeanRoll.notCriticalSuccess}}style="opacity: 0.3"{{/if}}>{{#if herculeanRoll.notCriticalSuccess}} ✕{{else if roll}} ✓{{/if}} ≤ {{ herculean.criticalSuccess }}</span>
                <span class="value ">{{#if herculeanRoll.notSuccess}} ✕{{else if roll}} ✓{{/if}} ≤ {{ herculean.success }}</span>
            </li>
        </ul>

        <ul class="difficulty-roll-table form-group-stacked">
            <li class="difficulty fumble flexrow " {{#if fumbleRoll.notFumble}}style="opacity: 0.3"{{/if}}>
                <span class="key">{{ localize "MYTHRAS.Skills.Fumble" }}</span>
                <span class="value ">{{#if fumbleRoll.notFumble}} ✕{{else if roll}} ✓{{/if}} ≥ {{ fumble }}</span>
            </li>
        </ul>
    </div>
</form>