<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>

        <section class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'MYTHRAS.Name' }}"/>
            </h1>

            <aside class="char-info-container">
                <div class="flexrow">
                    <div class="char-info species">
                        <input name="data.details.species" type="text" value="{{ data.details.species }}" placeholder="{{ localize "MYTHRAS.CharInfo.Species" }}"/>
                    </div>
                    <div class="char-info culture">
                        <input name="data.details.culture" type="text" value="{{ data.details.culture }}" placeholder="{{ localize "MYTHRAS.CharInfo.Culture" }}"/>
                    </div>
                    <div class="char-info social-class">
                        <input name="data.details.socialClass" type="text" value="{{ data.details.socialClass }}" placeholder="{{ localize "MYTHRAS.CharInfo.SocialClass" }}"/>
                    </div>
                    <div class="char-info career">
                        <input name="data.details.career" type="text" value="{{ data.details.career }}" placeholder="{{ localize "MYTHRAS.CharInfo.Career" }}"/>
                    </div>
                </div>
                <div class="flexrow">
                    <div class="char-info hometown">
                        <span>{{ localize "MYTHRAS.CharInfo.HometownFrom" }} </span><input name="data.details.hometown" type="text" value="{{ data.details.hometown }}" placeholder="{{ localize "MYTHRAS.CharInfo.Hometown" }}"/>
                    </div>
                    <div class="char-info age">
                        <input name="data.details.age" type="text" value="{{ data.details.age }}" placeholder="21"/><span> {{ localize "MYTHRAS.CharInfo.YearsOld" }}</span>
                    </div>
                    <div class="char-info height">
                        <input name="data.details.height" type="text" value="{{ data.details.height }}" placeholder="170"/><span>{{ localize "MYTHRAS.CharInfo.HeightUnit" }}</span>
                    </div>
                    <div class="char-info width">
                        <input name="data.details.width" type="text" value="{{ data.details.width }}" placeholder="80"/><span>{{ localize "MYTHRAS.CharInfo.WeightUnit" }}</span>
                        <span> (</span>
                        <select name="data.details.frame">
                            {{#select data.details.frame}}
                            <option value="Lithe">{{ localize "MYTHRAS.CharInfo.Frame.Lithe" }}</option>
                            <option value="Medium">{{ localize "MYTHRAS.CharInfo.Frame.Medium" }}</option>
                            <option value="Heavy">{{ localize "MYTHRAS.CharInfo.Frame.Heavy" }}</option>
                            {{/select}}
                        </select>
                        <span>)</span>
                    </div>
                </div>
            </aside>

            {{!-- Character Characteristics --}}
            <div class="characteristics flexrow">
                <div class="title">
                    <h2>{{ localize "MYTHRAS.Characteristics.Title" }}</h2>
                    <span class="separator"></span>
                </div>
                <ul>
                    <li>
                        <label for="data.characteristics.strength.value">{{ localize 'MYTHRAS.Characteristics.Strength' }}</label>
                        <input type="text" name="data.characteristics.strength.value" value="{{data.characteristics.strength.value}}" placeholder="10"/>
                    </li>
                    <li>
                        <label for="data.characteristics.constitution.value">{{ localize 'MYTHRAS.Characteristics.Constitution' }}</label>
                        <input type="text" name="data.characteristics.constitution.value" value="{{data.characteristics.constitution.value}}" placeholder="10"/>
                    </li>
                    <li>
                        <label for="data.characteristics.size.value">{{ localize 'MYTHRAS.Characteristics.Size' }}</label>
                        <input type="text" name="data.characteristics.size.value" value="{{data.characteristics.size.value}}" placeholder="10"/>
                    </li>
                    <li>
                        <label for="data.characteristics.dexterity.value">{{ localize 'MYTHRAS.Characteristics.Dexterity' }}</label>
                        <input type="text" name="data.characteristics.dexterity.value" value="{{data.characteristics.dexterity.value}}" placeholder="10"/>
                    </li>
                    <li>
                        <label for="data.characteristics.intelligence.value">{{ localize 'MYTHRAS.Characteristics.Intelligence' }}</label>
                        <input type="text" name="data.characteristics.intelligence.value" value="{{data.characteristics.intelligence.value}}" placeholder="10"/>
                    </li>
                    <li>
                        <label for="data.characteristics.power.value">{{ localize 'MYTHRAS.Characteristics.Power' }}</label>
                        <input type="text" name="data.characteristics.power.value" value="{{data.characteristics.power.value}}" placeholder="10"/>
                    </li>
                    <li>
                        <label for="data.characteristics.charisma.value">{{ localize 'MYTHRAS.Characteristics.Charisma' }}</label>
                        <input type="text" name="data.characteristics.charisma.value" value="{{data.characteristics.charisma.value}}" placeholder="10"/>
                    </li>
                </ul>
            </div>

            {{!-- Character Characteristics --}}
            <div class="attributes flexrow">
                <div class="title">
                    <h2>{{ localize "MYTHRAS.Attributes.Title" }}</h2>
                    <span class="separator"></span>
                </div>
                <ul>
                    <li>
                        <label for="data.attributes.actionPoints.value">{{ localize 'MYTHRAS.Attributes.ActionPoints' }}</label>
                        <input type="text" name="data.attributes.actionPoints.value" value="{{data.attributes.actionPoints.value}}" placeholder="10"/>
                    </li>
                    <li>
                        <label for="data.attributes.luckPoints.value">{{ localize 'MYTHRAS.Attributes.LuckPoints' }}</label>
                        <input type="text" name="data.attributes.luckPoints.value" value="{{data.attributes.luckPoints.value}}" placeholder="10"/>
                    </li>
                    <li>
                        <label for="data.attributes.magicPoints.value">{{ localize 'MYTHRAS.Attributes.MagicPoints' }}</label>
                        <input type="text" name="data.attributes.magicPoints.value" value="{{data.attributes.magicPoints.value}}" placeholder="10"/>
                    </li>
                    <li>
                        <label for="data.attributes.damageModifier.value">{{ localize 'MYTHRAS.Attributes.DamageModifier' }}</label>
                        <input type="text" name="data.attributes.damageModifier.value" value="{{data.attributes.damageModifier.value}}" placeholder="10"/>
                    </li>
                    <li>
                        <label for="data.attributes.experienceModifier.value">{{ localize 'MYTHRAS.Attributes.ExperienceModifier' }}</label>
                        <input type="text" name="data.attributes.experienceModifier.value" value="{{data.attributes.experienceModifier.value}}" placeholder="10"/>
                    </li>
                    <li>
                        <label for="data.attributes.healingRate.value">{{ localize 'MYTHRAS.Attributes.HealingRate' }}</label>
                        <input type="text" name="data.attributes.healingRate.value" value="{{data.attributes.healingRate.value}}" placeholder="10"/>
                    </li>
                    <li>
                        <label for="data.attributes.initiativeBonus.value">{{ localize 'MYTHRAS.Attributes.InitiativeBonus' }}</label>
                        <input type="text" name="data.attributes.initiativeBonus.value" value="{{data.attributes.initiativeBonus.value}}" placeholder="10"/>
                    </li>
                </ul>
            </div>
        </section>
    </header>

    {{!-- NPC Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <!--<a class="item active" data-tab="attributes">{{ localize "MYTHRAS.Attributes.Title" }}</a>-->
        <a class="item active" data-tab="features">{{ localize "MYTHRAS.Skills.Title" }}</a>
        <a class="item" data-tab="health-armor">{{ localize "MYTHRAS.HealthArmor" }}</a>
        <a class="item" data-tab="inventory">{{ localize "MYTHRAS.Inventory" }}</a>
        <a class="item" data-tab="spellbook">{{ localize "MYTHRAS.Spellbook" }}</a>
        <a class="item" data-tab="biography">{{ localize "MYTHRAS.Biography" }}</a>
    </nav>

    {{!-- NPC Sheet Body --}}
    <section class="sheet-body">

        {{!-- Features Tab --}}
        <div class="tab features flexcol" data-group="primary" data-tab="features">
            {{> "systems/mythras/templates/actors/parts/actor-skills.html" sections=skills}}
        </div>

        {{!-- Health & Armor Tab --}}
        <div class="tab health-armor flexcol" data-group="primary" data-tab="health-armor">
            {{> "systems/mythras/templates/actors/parts/actor-health-armor.html" sections=inventory}}
        </div>

        {{!-- Inventory Tab --}}
        <div class="tab inventory flexcol" data-group="primary" data-tab="inventory">
            {{> "systems/mythras/templates/actors/parts/actor-inventory.html" sections=inventory}}
        </div>

        {{!-- Spellbook Tab --}}
        <div class="tab spellbook flexcol" data-group="primary" data-tab="spellbook">
            {{> "systems/mythras/templates/actors/parts/actor-spellbook.html"}}
        </div>

        {{!-- Biography Tab --}}
        <div class="tab biography flexcol" data-group="primary" data-tab="biography">
            {{editor content=data.details.biography.value target="data.details.biography.value" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>
