<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'MYTHRAS.ClassName' }}"/>
            </h1>

            <div class="item-subtitle">
                <h4 class="item-type">{{itemType}}</h4>
                <span class="item-status">{{itemStatus}}</span>
            </div>

        </div>
    </header>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "MYTHRAS.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "MYTHRAS.Details" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab flexrow active" data-group="primary" data-tab="description">
            {{editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}
        </div>

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">

            {{!-- First Characteristic --}}
            <div class="form-group">
                <label>{{ localize "MYTHRAS.Skills.Characteristic1" }}</label>
                <div class="item-detail item-action skill-update" data-target="characteristic1">
                    <div class="form-fields">
                        <select name="item.data.characteristics1">
                            {{#select item.data.characteristic1}}
                                <option value="strength">{{ localize "MYTHRAS.Characteristics.Strength" }}</option>
                                <option value="constitution">{{ localize "MYTHRAS.Characteristics.Constitution" }}</option>
                                <option value="size">{{ localize "MYTHRAS.Characteristics.Size" }}</option>
                                <option value="dexterity">{{ localize "MYTHRAS.Characteristics.Dexterity" }}</option>
                                <option value="intelligence">{{ localize "MYTHRAS.Characteristics.Intelligence" }}</option>
                                <option value="power">{{ localize "MYTHRAS.Characteristics.Power" }}</option>
                                <option value="charisma">{{ localize "MYTHRAS.Characteristics.Charisma" }}</option>
                            {{/select}}
                        </select>
                    </div>
                </div>
            </div>

            {{!-- Second Characteristic --}}
            <div class="form-group">
                <label>{{ localize "MYTHRAS.Skills.Characteristic2" }}</label>
                <div class="item-detail item-action skill-update" data-target="characteristic2">
                    <div class="form-fields">
                        <select name="item.data.characteristics1">
                            {{#select item.data.characteristic2}}
                                <option value="strength">{{ localize "MYTHRAS.Characteristics.Strength" }}</option>
                                <option value="constitution">{{ localize "MYTHRAS.Characteristics.Constitution" }}</option>
                                <option value="size">{{ localize "MYTHRAS.Characteristics.Size" }}</option>
                                <option value="dexterity">{{ localize "MYTHRAS.Characteristics.Dexterity" }}</option>
                                <option value="intelligence">{{ localize "MYTHRAS.Characteristics.Intelligence" }}</option>
                                <option value="power">{{ localize "MYTHRAS.Characteristics.Power" }}</option>
                                <option value="charisma">{{ localize "MYTHRAS.Characteristics.Charisma" }}</option>
                            {{/select}}
                        </select>
                    </div>
                </div>
            </div>

            {{!-- Training --}}
            <div class="form-group">
                <label>{{ localize "MYTHRAS.Skills.Training" }}</label>
                <div class="form-fields">
                    <input type="text" name="data.training" value="{{data.training}}"/>
                </div>
            </div>

            {{!-- Funbled --}}
            <div class="form-group">
                <label>{{ localize "MYTHRAS.Skills.Fumbled" }}</label>
                <div class="form-fields">
                    <input class="checkbox" type="checkbox" name="data.fumbled" {{#if data.fumbled}}checked="checked"{{/if}}/>
                    <label/>
                </div>
            </div>

            {{!-- Trained --}}
            <div class="form-group">
                <label>{{ localize "MYTHRAS.Skills.Trained" }}</label>
                <div class="form-fields">
                    <input class="checkbox" type="checkbox" name="data.trained" {{#if data.trained}}checked="checked"{{/if}}/>
                    <label/>
                </div>
            </div>

        </div>
    </section>
</form>
