{{#each sections.0.items as |item iid|}}
    {{#if item.data.equipped }}
    <!--<div class="item-image" sid="{{sid}}" iid="{{iid}}" style="background-image: url({{item.img}})"></div>-->
    {{/if}}
{{/each}}

<div class="health-armor">
    <div class="biped-body">
        <div class="item-display head"></div>
        <div class="item-display neck"></div>
        <div class="item-display right-wrist"></div>
        <div class="item-display left-wrist"></div>
        <div class="item-display right-hand"></div>
        <div class="item-display left-hand"></div>
        <div class="item-display right-hand-hold"></div>
        <div class="item-display left-hand-hold"></div>
        <div class="item-display chest"></div>
        <div class="item-display abdomen"></div>
        <div class="item-display legs"></div>
        <div class="item-display feet"></div>
        <div class="body-part head">
            <h5 class="body-part-name">{{ localize "MYTHRAS.Head" }}</h5>
            <span class="entry hit-points">
                <label for="data.hitLocations.head.hitPoint.value">{{ localize "MYTHRAS.HP" }}:</label>
                <input type="text" name="data.hitLocations.head.hitPoint.value" value="{{data.hitLocations.head.hitPoint.value}}" data-dtype="Number" placeholder="10"/>
                /
                <input type="text" name="data.hitLocations.head.hitPoint.max" value="{{data.hitLocations.head.hitPoint.max}}" data-dtype="Number" placeholder="10"/>
                <input type="text" name="data.hitLocations.head.temp.value" value="{{data.hitLocations.head.temp.value}}" data-dtype="Number" placeholder="10"/>
            </span>
            <span class="entry armour1-points">
                <label for="data.hitLocations.head.armour1Points.value">{{ localize "MYTHRAS.AP1" }}:</label>
                <input type="text" name="data.hitLocations.head.armour1Points.value" value="{{data.hitLocations.head.armour1Points.value}}" data-dtype="Number" placeholder="10"/>
                /
                <input type="text" name="data.hitLocations.head.armour1Points.max" value="{{data.hitLocations.head.armour1Points.max}}" data-dtype="Number" placeholder="10"/>
            </span>
            <span class="entry armour2-points">
                <label for="data.hitLocations.head.armour2Points.value">{{ localize "MYTHRAS.AP2" }}:</label>
                <input type="text" name="data.hitLocations.head.armour2Points.value" value="{{data.hitLocations.head.armour2Points.value}}" data-dtype="Number" placeholder="10"/>
                /
                <input type="text" name="data.hitLocations.head.armour2Points.max" value="{{data.hitLocations.head.armour2Points.max}}" data-dtype="Number" placeholder="10"/>
            </span>
            <!--<span class="entry enc">
                <label for="data.hitLocations.head.enc.value">{{ localize "MYTHRAS.ENC" }}</label>
                <input type="text" name="data.hitLocations.head.enc" value="{{data.hitLocations.head.enc}}" data-dtype="Number" placeholder="10"/>
            </span>-->
        </div>
        <div class="body-part right-arm">
            <h5 class="body-part-name">{{ localize "MYTHRAS.RightArm" }}</h5>
            <span class="entry hit-points">
                <label for="data.hitLocations.rightArm.hitPoint.value">{{ localize "MYTHRAS.HP" }}:</label>
                <input type="text" name="data.hitLocations.rightArm.hitPoint.value" value="{{data.hitLocations.rightArm.hitPoint.value}}" data-dtype="Number" placeholder="10"/>
                /
                <input type="text" name="data.hitLocations.rightArm.hitPoint.max" value="{{data.hitLocations.rightArm.hitPoint.max}}" data-dtype="Number" placeholder="10"/>
                <input type="text" name="data.hitLocations.rightArm.temp.value" value="{{data.hitLocations.rightArm.temp.value}}" data-dtype="Number" placeholder="10"/>
            </span>
            <span class="entry armour1-points">
                <label for="data.hitLocations.rightArm.armour1Points.value">{{ localize "MYTHRAS.AP1" }}:</label>
                <input type="text" name="data.hitLocations.rightArm.armour1Points.value" value="{{data.hitLocations.rightArm.armour1Points.value}}" data-dtype="Number" placeholder="10"/>
                /
                <input type="text" name="data.hitLocations.rightArm.armour1Points.max" value="{{data.hitLocations.rightArm.armour1Points.max}}" data-dtype="Number" placeholder="10"/>
            </span>
            <span class="entry armour2-points">
                <label for="data.hitLocations.rightArm.armour2Points.value">{{ localize "MYTHRAS.AP2" }}:</label>
                <input type="text" name="data.hitLocations.rightArm.armour2Points.value" value="{{data.hitLocations.rightArm.armour2Points.value}}" data-dtype="Number" placeholder="10"/>
                /
                <input type="text" name="data.hitLocations.rightArm.armour2Points.max" value="{{data.hitLocations.rightArm.armour2Points.max}}" data-dtype="Number" placeholder="10"/>
            </span>
            <!--<span class="entry enc">
                <label for="data.hitLocations.rightArm.enc.value">{{ localize "MYTHRAS.ENC" }}</label>
                <input type="text" name="data.hitLocations.rightArm.enc" value="{{data.hitLocations.rightArm.enc}}" data-dtype="Number" placeholder="10"/>
            </span>-->
        </div>
        <div class="body-part left-arm">
            <h5 class="body-part-name">{{ localize "MYTHRAS.LeftArm" }}</h5>
            <span class="entry hit-points">
                <label for="data.hitLocations.leftArm.hitPoint.value">{{ localize "MYTHRAS.HP" }}:</label>
                <input type="text" name="data.hitLocations.leftArm.hitPoint.value" value="{{data.hitLocations.leftArm.hitPoint.value}}" data-dtype="Number" placeholder="10"/>
                /
                <input type="text" name="data.hitLocations.leftArm.hitPoint.max" value="{{data.hitLocations.leftArm.hitPoint.max}}" data-dtype="Number" placeholder="10"/>
                <input type="text" name="data.hitLocations.leftArm.temp.value" value="{{data.hitLocations.leftArm.temp.value}}" data-dtype="Number" placeholder="10"/>
            </span>
            <span class="entry armour1-points">
                <label for="data.hitLocations.leftArm.armour1Points.value">{{ localize "MYTHRAS.AP1" }}:</label>
                <input type="text" name="data.hitLocations.leftArm.armour1Points.value" value="{{data.hitLocations.leftArm.armour1Points.value}}" data-dtype="Number" placeholder="10"/>
                /
                <input type="text" name="data.hitLocations.leftArm.armour1Points.max" value="{{data.hitLocations.leftArm.armour1Points.max}}" data-dtype="Number" placeholder="10"/>
            </span>
            <span class="entry armour2-points">
                <label for="data.hitLocations.leftArm.armour2Points.value">{{ localize "MYTHRAS.AP2" }}:</label>
                <input type="text" name="data.hitLocations.leftArm.armour2Points.value" value="{{data.hitLocations.leftArm.armour2Points.value}}" data-dtype="Number" placeholder="10"/>
                /
                <input type="text" name="data.hitLocations.leftArm.armour2Points.max" value="{{data.hitLocations.leftArm.armour2Points.max}}" data-dtype="Number" placeholder="10"/>
            </span>
            <!--<span class="entry enc">
                <label for="data.hitLocations.leftArm.enc.value">{{ localize "MYTHRAS.ENC" }}</label>
                <input type="text" name="data.hitLocations.leftArm.enc" value="{{data.hitLocations.leftArm.enc}}" data-dtype="Number" placeholder="10"/>
            </span>-->
        </div>
        <div class="body-part chest">
            <h5 class="body-part-name">{{ localize "MYTHRAS.Chest" }}</h5>
            <span class="entry hit-points">
                <label for="data.hitLocations.chest.hitPoint.value">{{ localize "MYTHRAS.HP" }}:</label>
                <input type="text" name="data.hitLocations.chest.hitPoint.value" value="{{data.hitLocations.chest.hitPoint.value}}" data-dtype="Number" placeholder="10"/>
                /
                <input type="text" name="data.hitLocations.chest.hitPoint.max" value="{{data.hitLocations.chest.hitPoint.max}}" data-dtype="Number" placeholder="10"/>
                <input type="text" name="data.hitLocations.chest.temp.value" value="{{data.hitLocations.chest.temp.value}}" data-dtype="Number" placeholder="10"/>
            </span>
            <span class="entry armour1-points">
                <label for="data.hitLocations.chest.armour1Points.value">{{ localize "MYTHRAS.AP1" }}:</label>
                <input type="text" name="data.hitLocations.chest.armour1Points.value" value="{{data.hitLocations.chest.armour1Points.value}}" data-dtype="Number" placeholder="10"/>
                /
                <input type="text" name="data.hitLocations.chest.armour1Points.max" value="{{data.hitLocations.chest.armour1Points.max}}" data-dtype="Number" placeholder="10"/>
            </span>
            <span class="entry armour2-points">
                <label for="data.hitLocations.chest.armour2Points.value">{{ localize "MYTHRAS.AP2" }}:</label>
                <input type="text" name="data.hitLocations.chest.armour2Points.value" value="{{data.hitLocations.chest.armour2Points.value}}" data-dtype="Number" placeholder="10"/>
                /
                <input type="text" name="data.hitLocations.chest.armour2Points.max" value="{{data.hitLocations.chest.armour2Points.max}}" data-dtype="Number" placeholder="10"/>
            </span>
            <!--<span class="entry enc">
                <label for="data.hitLocations.chest.enc.value">{{ localize "MYTHRAS.ENC" }}</label>
                <input type="text" name="data.hitLocations.chest.enc" value="{{data.hitLocations.chest.enc}}" data-dtype="Number" placeholder="10"/>
            </span>-->
        </div>
        <div class="body-part abdomen">
            <h5 class="body-part-name">{{ localize "MYTHRAS.Abdomen" }}</h5>
            <span class="entry hit-points">
                <label for="data.hitLocations.abdomen.hitPoint.value">{{ localize "MYTHRAS.HP" }}:</label>
                <input type="text" name="data.hitLocations.abdomen.hitPoint.value" value="{{data.hitLocations.abdomen.hitPoint.value}}" data-dtype="Number" placeholder="10"/>
                /
                <input type="text" name="data.hitLocations.abdomen.hitPoint.max" value="{{data.hitLocations.abdomen.hitPoint.max}}" data-dtype="Number" placeholder="10"/>
                <input type="text" name="data.hitLocations.abdomen.temp.value" value="{{data.hitLocations.abdomen.temp.value}}" data-dtype="Number" placeholder="10"/>
            </span>
            <span class="entry armour1-points">
                <label for="data.hitLocations.abdomen.armour1Points.value">{{ localize "MYTHRAS.AP1" }}:</label>
                <input type="text" name="data.hitLocations.abdomen.armour1Points.value" value="{{data.hitLocations.abdomen.armour1Points.value}}" data-dtype="Number" placeholder="10"/>
                /
                <input type="text" name="data.hitLocations.abdomen.armour1Points.max" value="{{data.hitLocations.abdomen.armour1Points.max}}" data-dtype="Number" placeholder="10"/>
            </span>
            <span class="entry armour2-points">
                <label for="data.hitLocations.abdomen.armour2Points.value">{{ localize "MYTHRAS.AP2" }}:</label>
                <input type="text" name="data.hitLocations.abdomen.armour2Points.value" value="{{data.hitLocations.abdomen.armour2Points.value}}" data-dtype="Number" placeholder="10"/>
                /
                <input type="text" name="data.hitLocations.abdomen.armour2Points.max" value="{{data.hitLocations.abdomen.armour2Points.max}}" data-dtype="Number" placeholder="10"/>
            </span>
            <!--<span class="entry enc">
                <label for="data.hitLocations.abdomen.enc.value">{{ localize "MYTHRAS.ENC" }}</label>
                <input type="text" name="data.hitLocations.abdomen.enc" value="{{data.hitLocations.abdomen.enc}}" data-dtype="Number" placeholder="10"/>
            </span>-->
        </div>
        <div class="body-part right-leg">
            <h5 class="body-part-name">{{ localize "MYTHRAS.RightLeg" }}</h5>
            <span class="entry hit-points">
                <label for="data.hitLocations.rightLeg.hitPoint.value">{{ localize "MYTHRAS.HP" }}:</label>
                <input type="text" name="data.hitLocations.rightLeg.hitPoint.value" value="{{data.hitLocations.rightLeg.hitPoint.value}}" data-dtype="Number" placeholder="10"/>
                /
                <input type="text" name="data.hitLocations.rightLeg.hitPoint.max" value="{{data.hitLocations.rightLeg.hitPoint.max}}" data-dtype="Number" placeholder="10"/>
                <input type="text" name="data.hitLocations.rightLeg.temp.value" value="{{data.hitLocations.rightLeg.temp.value}}" data-dtype="Number" placeholder="10"/>
            </span>
            <span class="entry armour1-points">
                <label for="data.hitLocations.rightLeg.armour1Points.value">{{ localize "MYTHRAS.AP1" }}:</label>
                <input type="text" name="data.hitLocations.rightLeg.armour1Points.value" value="{{data.hitLocations.rightLeg.armour1Points.value}}" data-dtype="Number" placeholder="10"/>
                /
                <input type="text" name="data.hitLocations.rightLeg.armour1Points.max" value="{{data.hitLocations.rightLeg.armour1Points.max}}" data-dtype="Number" placeholder="10"/>
            </span>
            <span class="entry armour2-points">
                <label for="data.hitLocations.rightLeg.armour2Points.value">{{ localize "MYTHRAS.AP2" }}:</label>
                <input type="text" name="data.hitLocations.rightLeg.armour2Points.value" value="{{data.hitLocations.rightLeg.armour2Points.value}}" data-dtype="Number" placeholder="10"/>
                /
                <input type="text" name="data.hitLocations.rightLeg.armour2Points.max" value="{{data.hitLocations.rightLeg.armour2Points.max}}" data-dtype="Number" placeholder="10"/>
            </span>
            <!--<span class="entry enc">
                <label for="data.hitLocations.rightLeg.enc.value">{{ localize "MYTHRAS.ENC" }}</label>
                <input type="text" name="data.hitLocations.rightLeg.enc" value="{{data.hitLocations.rightLeg.enc}}" data-dtype="Number" placeholder="10"/>
            </span>-->
        </div>
        <div class="body-part left-leg">
            <h5 class="body-part-name">{{ localize "MYTHRAS.LeftLeg" }}</h5>
            <span class="entry hit-points">
                <label for="data.hitLocations.leftLeg.hitPoint.value">{{ localize "MYTHRAS.HP" }}:</label>
                <input type="text" name="data.hitLocations.leftLeg.hitPoint.value" value="{{data.hitLocations.leftLeg.hitPoint.value}}" data-dtype="Number" placeholder="10"/>
                /
                <input type="text" name="data.hitLocations.leftLeg.hitPoint.max" value="{{data.hitLocations.leftLeg.hitPoint.max}}" data-dtype="Number" placeholder="10"/>
                <input type="text" name="data.hitLocations.leftLeg.temp.value" value="{{data.hitLocations.leftLeg.temp.value}}" data-dtype="Number" placeholder="10"/>
            </span>
            <span class="entry armour1-points">
                <label for="data.hitLocations.leftLeg.armour1Points.value">{{ localize "MYTHRAS.AP1" }}:</label>
                <input type="text" name="data.hitLocations.leftLeg.armour1Points.value" value="{{data.hitLocations.leftLeg.armour1Points.value}}" data-dtype="Number" placeholder="10"/>
                /
                <input type="text" name="data.hitLocations.leftLeg.armour1Points.max" value="{{data.hitLocations.leftLeg.armour1Points.max}}" data-dtype="Number" placeholder="10"/>
            </span>
            <span class="entry armour2-points">
                <label for="data.hitLocations.leftLeg.armour2Points.value">{{ localize "MYTHRAS.AP2" }}:</label>
                <input type="text" name="data.hitLocations.leftLeg.armour2Points.value" value="{{data.hitLocations.leftLeg.armour2Points.value}}" data-dtype="Number" placeholder="10"/>
                /
                <input type="text" name="data.hitLocations.leftLeg.armour2Points.max" value="{{data.hitLocations.leftLeg.armour2Points.max}}" data-dtype="Number" placeholder="10"/>
            </span>
            <!--<span class="entry enc">
                <label for="data.hitLocations.leftLeg.enc.value">{{ localize "MYTHRAS.ENC" }}</label>
                <input type="text" name="data.hitLocations.leftLeg.enc" value="{{data.hitLocations.leftLeg.enc}}" data-dtype="Number" placeholder="10"/>
            </span>-->
        </div>
    </div>
</div>