<ol class="inventory-list">
    {{#each sections as |section sid|}}
        <li class="inventory-header flexrow" section-id="{{ section.dataset.type }}">
            <h3 class="item-name flexrow"><span>{{localize section.label}}</span></h3>
            {{#if ../../owner}}{{else}}
                <div class="item-header"><span>{{ localize "MYTHRAS.Skills.Fumbled" }}</span></div>
                <div class="item-header"><span>{{ localize "MYTHRAS.Skills.Trained" }}</span></div>
            {{/if}}
            <div class="item-header characteristic"><span>{{ localize "MYTHRAS.Skills.Characteristic1" }}</span></div>
            <div class="item-header characteristic"><span>{{ localize "MYTHRAS.Skills.Characteristic2" }}</span></div>
            <div class="item-header"><span>{{ localize "MYTHRAS.Skills.Training" }}</span></div>
            <div class="item-header"><span>{{ localize "MYTHRAS.Skills.Total" }}</span></div>
            {{#if ../owner}}
                <div class="item-controls">
                    <a class="item-control item-create" title="{{localize 'MYTHRAS.FeatureAdd'}}" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
                        <i class="fas fa-plus"></i> {{localize "MYTHRAS.Add"}}
                    </a>
                </div>
            {{/if}}
        </li>

        <ol class="item-list {{#if section.isExpanded}}{{else}}hidden{{/if}}">
            {{#each section.items as |item iid|}}
                <li class="item flexrow {{#if isDepleted}}depleted{{/if}}" data-item-id="{{item._id}}">
                    <div class="item-name flexrow rollable">
                        <div class="item-image" style="background-image: url({{item.img}})"></div>
                        <h4>{{#if item.data.localizedNameValue}} {{item.data.localizedNameValue}} {{else}} {{item.name}} {{/if}}</h4>
                    </div>

                    {{#if ../../owner}}
                    {{!-- Funbled --}}
                    <div class="item-detail item-action skill-update" data-target="fumbled">
                        <input class="checkbox" type="checkbox" name="data.fumbled" {{#if data.fumbled}}checked="checked"{{/if}}/>
                        <label/>
                    </div>

                    {{!-- Trained --}}
                    <div class="item-detail item-action skill-update" data-target="trained">
                        <input class="checkbox" type="checkbox" name="data.trained" {{#if data.trained}}checked="checked"{{/if}}/>
                        <label/>
                    </div>
                    {{/if}}

                    {{!-- First Characteristic --}}
                    <div class="item-detail characteristic item-action skill-update" data-target="characteristic1">
                        <select name="item.data.characteristics1" {{#if item.isDefault }}disabled{{/if}}>
                            {{#select item.data.characteristic1}}
                                <option value="strength">{{ localize "MYTHRAS.Characteristics.Strength" }}</option>
                                <option value="constitution">{{ localize "MYTHRAS.Characteristics.Constitution" }}</option>
                                <option value="size">{{ localize "MYTHRAS.Characteristics.Size" }}</option>
                                <option value="dexterity">{{ localize "MYTHRAS.Characteristics.Dexterity" }}</option>
                                <option value="intelligence">{{ localize "MYTHRAS.Characteristics.Intelligence" }}</option>
                                <option value="power">{{ localize "MYTHRAS.Characteristics.Power" }}</option>
                                <option value="charisma">{{ localize "MYTHRAS.Characteristics.Charisma" }}</option>
                            {{/select}}
                        </select>
                    </div>

                    {{!-- Second Characteristic --}}
                    <div class="item-detail characteristic item-action skill-update" data-target="characteristic2">
                        <select name="item.data.characteristics2" {{#if item.isDefault }}disabled{{/if}}>
                            {{#select item.data.characteristic2}}
                                <option value="strength">{{ localize "MYTHRAS.Characteristics.Strength" }}</option>
                                <option value="constitution">{{ localize "MYTHRAS.Characteristics.Constitution" }}</option>
                                <option value="size">{{ localize "MYTHRAS.Characteristics.Size" }}</option>
                                <option value="dexterity">{{ localize "MYTHRAS.Characteristics.Dexterity" }}</option>
                                <option value="intelligence">{{ localize "MYTHRAS.Characteristics.Intelligence" }}</option>
                                <option value="power">{{ localize "MYTHRAS.Characteristics.Power" }}</option>
                                <option value="charisma">{{ localize "MYTHRAS.Characteristics.Charisma" }}</option>
                            {{/select}}
                        </select>
                    </div>

                    {{!-- Training --}}
                    <div class="item-detail item-action skill-update" data-target="training">
                        <input type="text" {{#if ../../owner}}{{else}}readonly="readonly"{{/if}} value="{{ item.data.training }}" placeholder="0"/>
                    </div>

                    {{!-- Total --}}
                    <div class="item-detail item-action skill-total">
                        <span>{{ item.total }}</span>
                    </div>

                    {{!-- Edit --}}
                    <div class="item-controls">
                    {{#if item.editable }}
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    {{else}}
                        <span class="item-control disabled"><i class="fas fa-edit"></i></span>
                        <span class="item-control disabled"><i class="fas fa-trash"></i></span>
                    {{/if}}
                    </div>
                </li>
            {{/each}}
        </ol>
    {{/each}}
</ol>
