<div class="inventory-filters flexrow">
    <ul class="filter-list flexrow" data-filter="features">
        <li class="filter-item" data-filter="action">{{localize "MYTHRAS.Action"}}</li>
        <li class="filter-item" data-filter="bonus">{{localize "MYTHRAS.BonusAction"}}</li>
        <li class="filter-item" data-filter="reaction">{{localize "MYTHRAS.Reaction"}}</li>
    </ul>
</div>

<ol class="inventory-list">
{{#each sections as |section sid|}}
    <li class="inventory-header flexrow">
        <h3 class="item-name flexrow">{{localize section.label}}</h3>

        {{#if section.hasActions}}
        <div class="item-detail item-uses">{{localize "MYTHRAS.Uses"}}</div>
        <div class="item-detail item-action">{{localize "MYTHRAS.Usage"}}</div>
        {{/if}}

        {{#if ../owner}}
        <div class="item-controls">
            <a class="item-control item-create" title="{{localize 'MYTHRAS.FeatureAdd'}}" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
                <i class="fas fa-plus"></i> {{localize "MYTHRAS.Add"}}
            </a>
        </div>
        {{/if}}
    </li>

    <ol class="item-list">
    {{#each section.items as |item iid|}}
        <li class="item flexrow {{#if isDepleted}}depleted{{/if}}" data-item-id="{{item._id}}">
            <div class="item-name flexrow rollable">
                <div class="item-image" style="background-image: url({{item.img}})"></div>
                <h4>{{item.name}}</h4>
            </div>

            {{#if section.hasActions}}
            <div class="item-detail item-uses">
                {{#if item.isOnCooldown}}
                <a class="item-recharge rollable">{{item.labels.recharge}}</a>
                {{else if item.data.recharge.value}}
                {{localize "MYTHRAS.Charged"}}

                {{else if item.hasUses}}
                <input type="text" value="{{item.data.uses.value}}" placeholder="0"/>/ {{item.data.uses.max}}
                {{/if}}
            </div>

            <div class="item-detail item-action">
                {{#if item.data.activation.type }}
                {{item.labels.activation}}
                {{/if}}
            </div>

            {{else if section.isClass}}
            <div class="item-detail player-class">
                {{item.data.subclass}}
            </div>
            <div class="item-detail item-action">
                Level {{item.data.levels}}
            </div>
            {{/if}}

            {{#if ../../owner}}
            <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
            {{/if}}
        </li>
    {{/each}}
    </ol>
{{/each}}
</ol>
